.panel.panel-default
  .panel-heading
    h4.text-center.uppercase
      | For Invoice <strong>#{@confirmation.no_invoice}</strong>
    center.small
      | <b>Payment Date : </b> 
      = @confirmation.try(:payment_date).strftime("%B, %d, %Y") if @confirmation.payment_date
      br
      | <b>Order Name : </b> 
      = @confirmation.try(:name)
      | (#{@confirmation.try(:email)})
  .panel-body
    .row
      .col-md-12
        .table-responsive.table-order-list
          table class="table table-striped"
            thead
              tr
                td class="text-center" width="20%"
                  | <strong>Sender</strong>
                td class="text-center"
                  | <strong>Nominal</strong>
                td class="text-center"
                  | <strong>To Bank Account</strong>
                td class="text-center"
                  | <strong>Payment Method</strong>
                td class="text-center"
                  | <strong>Buyer</strong>
            tbody
              tr
                td.text-center
                  span
                    = @confirmation.try(:sender_name)
                td.text-center
                  b
                    = get_currency(@confirmation.nominal) if @confirmation.nominal.present?
                td.text-center
                  span
                    = @confirmation.try(:bank_account)
                td.text-center
                  span
                    = @confirmation.try(:payment_method)
                td.text-center
                  span
                    = @confirmation.try(:name)
        p 
          b Message:
        p 
          = @confirmation.message
.well
  center 
    h4
      i class="fa fa-check" Matching