.col-md-12
  = render 'backend/shareds/search_form_order'
  = form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do 
    .widget
      = render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Orders', button_name: 'Orders', add_method: true} 
      .widget-content
        .table-responsive
          table class="table table-striped table-bordered table-hover"
            thead
              tr
                th width="1%" #
                th width="10%" Invoice Code
                th payerID
                th Payment
                th Shipping Status
                th Total Shopping
                th Total Shipping
                th Total
                th Order At
                th Track Order
                th width="10%" Action
              - @collection.each_with_index do |resource, index| 
                tr 
                  td = check_box_tag "ids[]", resource.id 
                  td
                    = link_to "#{resource.code}", resource_path(resource)
                  td
                    = resource.payerID
                  td
                    = resource.status?
                  td
                    = resource.track_order
                  td
                    b
                      = get_currency(resource.total) if resource.total.present?
                  td
                    b
                      = get_currency(resource.shipping_price) if resource.shipping_price.present?
                    | &nbsp; (#{resource.shipping_method})
                  td
                    b
                      = get_currency(resource.total_price?) if resource.total_price?.present?
                  td
                    small
                      = resource.try(:created_at).strftime("%H:%M %B, %d, %Y") 
                  td
                    = resource.track_order
                  td 
                    = render partial: 'backend/shareds/prepare_action',
                      locals: { resource: resource, confirmation: "Are you sure delete this #{resource.id}", no_show: false } 
        .widget-foot
          .pull-right
            = paginate @collection 
          .clearfix
