<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.fields_for(:profile_attributes) do |profile| %>
    <fieldset>
      <div class="form-group">
        <%= link_to user_omniauth_authorize_path(:facebook), class: 'btn btn-primary-fb' do %>
          <i class="fa fa-facebook"></i>
          Register With Facebook
        <% end %>
      </div>
      <div class="form-group">
        <div class="col-xs-12 or-section">
          <i class="omb-or"></i>
          <span class="omb-span">OR</span>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" for="userid">Fullname:</label>
        <div class="controls">
          <%= profile.text_field :full_name, class: "form-control", required: true %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" for="userid">Username:</label>
        <div class="controls">
          <%= f.text_field :username, class: "form-control", required: true %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" for="Email">Email:</label>
        <div class="controls">
          <%= f.email_field :email, class: "form-control", required: true %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" for="password">Password:</label>
        <div class="controls">
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <%= f.password_field :password, class: "form-control password", required: true %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" for="reenterpassword">Password Confirmation:</label>
        <div class="controls">
          <%= f.password_field :password_confirmation, class: "form-control password", required: true %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" for="confirmsignup"></label>
        <div class="controls">
          <%= f.submit 'SignUp', class: "btn btn-lg btn-primary btn-block btn-success" do%>
          <% end %>
        </div>
        <br>
        <div class="pull-left">
          Already Registered? <%= link_to "Log in", new_session_path(resource_name) %>
        </div>
      </div>
    </fieldset>
  <% end %>
<% end %>

