.navbar.navbar-fixed-top.bs-docs-nav
  .col-md-12
    .navbar-header
      button class="navbar-toggle btn-navbar" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse"
        span Menu

      = link_to 'Admin Panel', backend_dashboard_path, class: "navbar-brand hidden-lg"

    nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation"
      ul class="nav navbar-nav pull-right"
        li class="dropdown pull-right"
          a data-toggle="dropdown" class="dropdown-toggle" href="#"
            i class="fa fa-user"
            | Admin <b class="caret"></b>
          ul.dropdown-menu
            li
              = link_to '<i class="fa fa-cogs"></i> Settings'.html_safe, edit_backend_admin_path(current_user)
            li
              = link_to '<i class="fa fa-sign-out"></i> Logout'.html_safe, destroy_user_session_path, method: 'delete'
header
  .container
    .row
      .col-md-4
        .logo
          h1
            = link_to backend_dashboard_path
              = image_tag 'logo-symantechstudio.png'
      .col-md-8
        .header-data
          .hdata
            .mcol-left
              i class="fa fa-users bred"
            .mcol-right
              p
                = link_to "#{@members_size}", backend_members_path
                | <em>Members</em>
            .clearfix
          .hdata
            .mcol-left
              i class="fa fa-newspaper-o bblue"
            .mcol-right
              p
                = link_to "#{@products_size}", backend_products_path
                | <em>Products</em>
            .clearfix
          .hdata
            .mcol-left
              i class="fa fa-file-text-o bgreen"
            .mcol-right
              p
                = link_to "#{@orders_size}", backend_orders_path
                | <em>Orders</em>
            .clearfix
          .hdata
            .mcol-left
              i class="fa fa-money bgreen"
            .mcol-right
              p
                = link_to "#{@confirmations_size}", backend_confirmations_path
                | <em>Confirmations</em>
            .clearfix
= flash_messages
