- unless params[:controller] == 'backend/orders' || params[:controller] == 'backend/shipments' || params[:controller] == 'backend/confirmations'
  = link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_resource_path(resource), class: 'btn btn-xs btn-warning'
= link_to '<i class="fa fa-times"></i>'.html_safe, resource_path(resource), method: 'delete', class: 'btn btn-xs btn-danger', data: {confirm: confirmation}
