.widget-head
  .pull-left
    - unless params[:controller] == 'backend/orders' || params[:controller] == 'backend/shipments' || params[:controller] == 'backend/confirmations'
      = link_to '<i class="fa fa-reorder"></i> List'.html_safe, collection_path, class: 'btn btn-xs btn-info'
      - if add_method 
        = link_to '<i class="fa fa-plus"></i> Create New'.html_safe, new_resource_path, class: 'btn btn-xs btn-success'

  .widget-icons.pull-right
    - if params[:controller] == 'backend/members' || params[:controller] == 'backend/merchants'
      button class="btn btn-xs btn-primary" type="submit" name="commit" value="verified"
        | <i class="fa fa-check"></i> Verified
      button class="btn btn-xs btn-warning" type="submit" name="commit" value="non_verified"
        | <i class="fa fa-exclamation"></i> Non Verified

    - if params[:controller] == 'backend/products' || params[:controller] == 'backend/merchants' || params[:controller] == 'backend/members'
      button class="btn btn-xs btn-primary" type="submit" name="commit" value="featured"
        | <i class="fa fa-heart"></i> Change Featured

    - if params[:controller] == 'backend/products'
      button class="btn btn-xs btn-info" type="submit" name="commit" value="activated"
        | <i class="fa fa-check"></i> Activated
      button class="btn btn-xs btn-warning" type="submit" name="commit" value="non_activated"
        | <i class="fa fa-exclamation"></i> Non Activated
       
    button class="btn btn-xs btn-danger" type="submit" name="commit" value="destroy_all"
      | <i class="fa fa-times"></i> Destroy All

  .clearfix

