.row
  = form_for :search, url: collection_path, method: 'get' do
    .col-md-4
      h6 Find Results <b> #{collection.size} </b>
      = text_field_tag :key, nil, value: params[:key], class: 'form-control', placeholder: 'keywords..'
    .col-md-1.padding0
      h6 &nbsp;
      button class="btn btn-info" type="submit" Search
