.row
  = form_for :search, url: collection_path, method: 'get' do 
    .col-md-12
      h6 Find Results <b> #{collection.size} </b>
    .col-md-5
      = text_field_tag :key, nil, value: params[:key], class: 'form-control', placeholder: 'keywords..' 
    .col-md-2
      = select_tag :order_status_id, options_for_select(PaymentStatus.to_a, params[:order_status_id]), prompt: 'Choice Status', class: 'select2 form-control'
    .col-md-2
      = text_field_tag :start_at, nil, value: params[:start_at], class: 'datepicker form-control', placeholder: 'Start At'
    .col-md-2
      = text_field_tag :end_at, nil, value: params[:end_at], class: 'datepicker form-control',  placeholder: 'End At'
    .col-md-1.padding0
      button class="btn btn-info" type="submit" Search