.sidebar
  .sidebar-dropdown
    | <a href="#">Navigation</a>

  ul#nav
    li class="#{active_sidebar?(:home, :dashboard)}"
      = link_to '<i class="fa fa-home"></i> Dashboard'.html_safe, backend_dashboard_path
    li class="has_sub #{active_sidebar?(:admins, :all)}"
      a href="#"
        | <i class="fa fa-user-secret"></i> Admins
        | <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
      ul
        li class="#{active_sidebar?(:admins, :new)}"
          = link_to 'Create New', new_backend_admin_path
        li class="#{active_sidebar?(:admins, :index)}"
          = link_to 'List', backend_admins_path
    li class="has_sub #{active_sidebar?(:members, :all)}"
      a href="#"
        | <i class="fa fa-users"></i> Members
        | <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
      ul
        li class="#{active_sidebar?(:members, :new)}"
          = link_to 'Create New', new_backend_member_path
        li class="#{active_sidebar?(:members, :index)}"
          = link_to 'List', backend_members_path
    li class="has_sub #{active_sidebar?(:categories, :all)}"
      a href="#"
        | <i class="fa fa-navicon"></i> Categories
        | <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
      ul
        li class="#{active_sidebar?(:categories, :new)}"
          = link_to 'Create New', new_backend_category_path
        li class="#{active_sidebar?(:categories, :index)}"
          = link_to 'List', backend_categories_path
    li class="has_sub #{active_sidebar?(:brands, :all)}"
      a href="#"
        | <i class="fa fa-navicon"></i> Brands
        | <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
      ul
        li class="#{active_sidebar?(:brands, :new)}"
          = link_to 'Create New', new_backend_brand_path
        li class="#{active_sidebar?(:brands, :index)}"
          = link_to 'List', backend_brands_path
    li class="has_sub #{active_sidebar?(:products, :all)}"
      a href="#"
        | <i class="fa fa-newspaper-o"></i> Products
        | <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
      ul
        li class="#{active_sidebar?(:products, :new)}"
          = link_to 'Create New', new_backend_product_path
        li class="#{active_sidebar?(:products, :index)}"
          = link_to 'List', backend_products_path
    li class="#{active_sidebar?(:orders, :all)}"
      = link_to backend_orders_path do
        | <i class="fa fa-file-text-o"></i> Invoice Orders
        | <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
    li class="#{active_sidebar?(:confirmations, :all)}"
      = link_to backend_confirmations_path do
        | <i class="fa fa-money"></i> Confirmations
        | <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
    / li class="#{active_sidebar?(:shipments, :all)}"
    /   = link_to backend_shipments_path do
    /     | <i class="fa fa-truck"></i> Shipments
    /     | <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
    / li class="#{active_sidebar?(:regions, :all)}"
    /   = link_to backend_regions_path do
    /     | <i class="fa fa-map-marker"></i> Regions
    /     | <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
    li class="#{active_sidebar?(:landing_pages, :all)}"
      = link_to backend_landing_pages_path do
        | <i class="fa fa-copy"></i> Landing Pages
        | <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
    li class="#{active_sidebar?(:subscribes, :all)}"
      = link_to backend_subscribes_path do
        | <i class="fa fa-bell"></i> Subscribes
        | <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
    li class="#{active_sidebar?(:web_settings, :all)}"
      = link_to backend_web_settings_path do
        | <i class="fa fa-wrench"></i> Web Settings
        | <span class="pull-right"><i class="fa fa-chevron-right"></i></span>


