.panel.panel-default
  .panel-heading
    a data-toggle="collapse" data-parent="#accordion" href="#collapse5"
      | <span>Merchant Info</span>
  div id="collapse5" class="panel-collapse collapse"
    .panel-body
      .row
        .col-md-12
          h6 Banner
          .banner
            = image_tag merchant_info.object.banner.url(:large)
          = merchant_info.file_field :banner
          h6 Title
          = merchant_info.text_field :title, class: 'form-control'
          h6 About Merchant
          = merchant_info.cktext_area :description, class: 'form-control'

.panel.panel-default
  .panel-heading
    a data-toggle="collapse" data-parent="#accordion" href="#collapse6"
      | <span>Policies</span>
  div id="collapse6" class="panel-collapse collapse"
    .panel-body
      .row
        .col-md-12
          h6 Payment
          = merchant_info.text_area :payment, class: 'form-control'
          h6 Shipping
          = merchant_info.text_area :shipping, class: 'form-control'
          h6 Refund and Exchange
          = merchant_info.text_area :refund_and_exchange, class: 'form-control'
          h6 Faq
          = merchant_info.text_area :faq, class: 'form-control'
