.panel.panel-default
  .panel-heading
    a data-toggle="collapse" data-parent="#accordion" href="#collapse1"
      | <span>User Account</span>
  div id="collapse1" class="panel-collapse collapse in"
    .panel-body
      .row
        .col-md-12
          center
            h5 Upload Avatar
            .user-image-cycle
              = image_tag profile.object.avatar.url(:medium)
              = profile.file_field :avatar, class: 'change-image-avatar'
          hr
        .break
        .col-md-6
          h6 Email
          = f.email_field :email, class: 'form-control', required: true
          h6 Username
          = f.text_field :username, class: 'form-control', required: true
        .col-md-6
          h6 Password
          = f.password_field :password, class: 'form-control'
          h6 Password Confirmation
          = f.password_field :password_confirmation, class: 'form-control'

.panel.panel-default
  .panel-heading
    a data-toggle="collapse" data-parent="#accordion" href="#collapse2"
      | <span>Profile</span>
  div id="collapse2" class="panel-collapse collapse in"
    .panel-body
      .row
        .col-md-12
          h6 Full Name
          = profile.text_field :full_name, class: 'form-control'
        .col-md-12
          h6 Birthday
          .row
            .col-md-12
              = profile.date_select :birthday, {start_year: (Date.today.year-100), end_year:   (Date.today.year-17), order: [:day, :month, :year], prompt: { day:   'Tanggal', month: 'Bulan', year:  'Tahun'}}, {required: true, class: 'form-control select-birthday'}
        .col-md-12
          h6 Gender
          = profile.select :gender, Gender.to_a, {prompt: 'Select Category'}, {class: 'form-control'}
