              <tr>
                <td valign="top" id="templateFooter">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowBlock" style="min-width:100%;">
                    <tbody class="mcnFollowBlockOuter">
                      <tr>
                        <td align="center" valign="top" style="padding:9px" class="mcnFollowBlockInner">
                          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContentContainer" style="min-width:100%;">
                            <tbody>
                              <tr>
                                <td align="center" style="padding-left:9px;padding-right:9px;">
                                  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;" class="mcnFollowContent">
                                    <tbody>
                                      <tr>
                                        <td align="center" valign="top" style="padding-top:9px; padding-right:9px; padding-left:9px;">
                                          <table align="center" border="0" cellpadding="0" cellspacing="0">
                                            <tbody>
                                              <tr>
                                                <td align="center" valign="top">
                                                  <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;">
                                                    <tbody>
                                                      <tr>
                                                        <td valign="top" style="padding-right:10px; padding-bottom:9px;" class="mcnFollowContentItemContainer">
                                                          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContentItem">
                                                            <tbody>
                                                              <tr>
                                                                <td align="left" valign="middle" style="padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;">
                                                                  <table align="left" border="0" cellpadding="0" cellspacing="0" width="">
                                                                    <tbody>
                                                                      <tr>
                                                                        <td align="center" valign="middle" width="24" class="mcnFollowIconContent">
                                                                          <a href="https://twitter.com/mamo_rae" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-48.png" style="display:block;" height="24" width="24" class=""></a>
                                                                        </td>
                                                                      </tr>
                                                                    </tbody>
                                                                  </table>
                                                                </td>
                                                              </tr>
                                                            </tbody>
                                                          </table>
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                  <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;">
                                                    <tbody>
                                                      <tr>
                                                        <td valign="top" style="padding-right:10px; padding-bottom:9px;" class="mcnFollowContentItemContainer">
                                                          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContentItem">
                                                            <tbody>
                                                              <tr>
                                                                <td align="left" valign="middle" style="padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;">
                                                                  <table align="left" border="0" cellpadding="0" cellspacing="0" width="">
                                                                    <tbody>
                                                                      <tr>
                                                                        <td align="center" valign="middle" width="24" class="mcnFollowIconContent">
                                                                          <a href="https://www.facebook.com/MAMORAEISON/?ref=bookmarks " target="_blank">
                                                                            <img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png" style="display:block;" height="24" width="24" class="">
                                                                          </a>
                                                                        </td>
                                                                      </tr>
                                                                    </tbody>
                                                                  </table>
                                                                </td>
                                                              </tr>
                                                            </tbody>
                                                          </table>
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                  </table>

                                                  <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;">
                                                    <tbody>
                                                      <tr>
                                                        <td valign="top" style="padding-right:0; padding-bottom:9px;" class="mcnFollowContentItemContainer">
                                                          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContentItem">
                                                            <tbody>
                                                              <tr>
                                                                <td align="left" valign="middle" style="padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;">
                                                                  <table align="left" border="0" cellpadding="0" cellspacing="0" width="">
                                                                    <tbody>
                                                                      <tr>
                                                                        <td align="center" valign="middle" width="24" class="mcnFollowIconContent">
                                                                          <a href="http://mailchimp.com" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-link-48.png" style="display:block;" height="24" width="24" class=""></a>
                                                                        </td>
                                                                      </tr>
                                                                    </tbody>
                                                                  </table>
                                                                </td>
                                                              </tr>
                                                            </tbody>
                                                          </table>
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>

                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock" style="min-width:100%;">
                    <tbody class="mcnDividerBlockOuter">
                      <tr>
                        <td class="mcnDividerBlockInner" style="min-width: 100%; padding: 10px 18px 25px;">
                          <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;border-top-width: 2px;border-top-style: solid;border-top-color: #EEEEEE;">
                            <tbody>
                              <tr>
                                <td>
                                  <span></span>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
    
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
                    <tbody class="mcnTextBlockOuter">
                      <tr>
                        <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
                          <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                            <tbody>
                              <tr>
                                <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
                                  <center>
                                    <b>PT.ONLINE SHOP INDONESIA</b>
                                    <br>
                                    Gedung Sentra Kramat, Jalan Sentra Kramat Raya no 7-9, Senen, Jakarta Pusat
                                    <br>
                                    <br>
                                    <b>HUBUNGI KAMI</b>
                                    <br>
                                    + 6221-8800-9898
                                    <br>
                                    <br>
                                    <strong>Our mailing address is:</strong>
                                    <br>
                                    hi@onshop.com
                                    <br>
                                    <br>
                                    <em>© 2016 PT.ONLINE SHOP INDONESIA. All Rights Reserved.</em>
                                  </center>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>