<%= render 'user_mailer/header' %>
<tr>
  <td valign="top" id="templateBody" style= "background-color: #FFFFFF; border-top: 0; border-bottom: 2px solid #EAEAEA; padding-top: 0; padding-bottom: 9px;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
      <tbody class="mcnTextBlockOuter">
        <tr>
          <td valign="top" class="mcnTextBlockInner" style="padding-top:20px;">
            <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
              <tbody>
                <tr>
                  <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
                    <h2 style="font-weight: normal; color: #333333; font-family: Arial; margin-top: 0px; margin-bottom: 20px;">
                      INVOICE ORDER <%= @order.code %>
                    </h2>
                    <p align="center">
                      <b>Invoice Date : </b><br>
                      <%= @order.try(:purchased_at).strftime("%B, %d, %Y") if @order.purchased_at %><br>
                      <b>Due Date : </b> <br>
                      <%= (@order.try(:purchased_at)+ 3.days).strftime("%B, %d, %Y") if @order.purchased_at %>
                    </p>
                    <br>
                    <div style="text-align: justify; font-size: 12px; line-height:0px;">
                      <h4>INVOICE TO</h4>
                      <p><%= @order.try(:payer_company) %></p>
                      <p><%= @order.try(:payer_name) %></p>
                      <p><%= @order.try(:payer_address) %></p>
                    </div>
                    <br>
                    <table cellspacing="0" cellpadding="" border="" style="font-size: 12px; width: 100%;">
                      <tr>
                        <td><strong>Item Name</strong></td>
                        <td><strong>Qty</strong></td>
                        <td><strong>Weight</strong></td>
                        <td><strong>Item Price</strong></td>
                      </tr>
                      <% @order.order_items.each_with_index do |order_item, index| %>
                        <tr>
                          <td><%= link_to "#{order_item.product.title}", product_url(order_item.product.slug) %></td>
                          <td><%= order_item.quantity %></td>
                          <td>
                            <%= order_item.weight %>
                          </td>
                          <td><%= get_currency(order_item.total_price) %></td>
                        </tr>
                      <% end %>
                      <tr>
                        <td></td>
                        <td></td>
                        <td>Total Price Shopping</td>
                        <td><%= get_currency(@order.total) %></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td><%= @order.shipping_method %></td>
                        <td><%= get_currency(@order.shipping_price) if @order.shipping_price.present? %></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td>TOTAL</td>
                        <td><%= get_currency(@order.total_price?) %></td>
                      </tr>
                    </table>
                    <br>
                    <br>
                    <h2 style="font-weight: normal; color: #333333; font-family: Arial; margin-top: 0px; margin-bottom: 20px;">
                      TRANSACTION
                    </h2>
                    <table cellspacing="0" cellpadding="" border="" style="font-size: 12px; width: 100%;">
                      <tr>
                        <td><strong>Transaction Date</strong></td>
                        <td><strong>Payer</strong></td>
                        <td><strong>Payment To</strong></td>
                        <td><strong>Payment Status</strong></td>
                        <td><strong>Transaction ID</strong></td>
                      </tr>
                      <tr>
                        <td><%= @order.try(:purchased_at).strftime("%B, %d, %Y") if @order.purchased_at %></td>
                        <td><%= @order.try(:payer_name) %></td>
                        <td><%= @order.try(:paymentTo) %></td>
                        <td><%= @order.status? %></td>
                        <td><%= @order.try(:payment_token) %></td>
                      </tr>
                    </table>
                    <br>
                    <br>
                    <h2 style="font-weight: normal; color: #333333; font-family: Arial; margin-top: 0px; margin-bottom: 20px;">
                      SHIPPING
                    </h2>
                    <table cellspacing="0" cellpadding="1" border="1" style="font-size: 12px; width: 100%;">
                      <tr>
                        <td><strong>Receiver</strong></td>
                        <td><strong>Shipping Method</strong></td>
                        <td><strong>Shipping Order</strong></td>
                        <td><strong>Phone</strong></td>
                        <td><strong>Shipping Address</strong></td>
                      </tr>
                      <tr>
                        <td><%= @order.try(:payer_name) %></td>
                        <td><%= @order.try(:shipping_method) %></td>
                        <td><%= @order.try(:track_order) %></td>
                        <td><%= @order.try(:payer_phone) %></td>
                        <td><%= @order.try(:payer_address) %></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<%= render 'user_mailer/footer' %>
