<%= render 'user_mailer/header' %>
<tr>
  <td valign="top" id="templateBody" style= "background-color: #FFFFFF; border-top: 0; border-bottom: 2px solid #EAEAEA; padding-top: 0; padding-bottom: 9px;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
      <tbody class="mcnTextBlockOuter">
        <tr>
          <td valign="top" class="mcnTextBlockInner" style="padding-top:20px;">
            <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
              <tbody>
                <tr>
                  <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
                    <h2 style="font-weight: normal; color: #333333; font-family: Arial; margin-top: 0px; margin-bottom: 20px;">
                      Confirmation Order Invoice - [<%= @confirmation.no_invoice %>]
                    </h2>
                    <p style="font-size: 14px; line-height: 22px; font-family: Arial; color: #333; margin: 0px;">
                      Name: <b><%= @confirmation.name %></b><br>
                      Email: <b><%= @confirmation.email %></b><br>
                      Payment Date: <b><%= @confirmation.payment_date.strftime("%B, %d, %Y") %></b><br>
                      Total Payment: <b><%= get_currency(@confirmation.nominal) %></b><br>
                      Bank Account: <b><%= @confirmation.bank_account %></b><br>
                      Payment Method: <b><%= @confirmation.payment_method %></b><br>
                      Sender Name: <b><%= @confirmation.sender_name %></b><br>
                      Message: <b><%= @confirmation.message %></b><br>
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<%= render 'user_mailer/footer' %>