<%= render 'user_mailer/header' %>
<tr>
  <td valign="top" id="templateBody" style= "background-color: #FFFFFF; border-top: 0; border-bottom: 2px solid #EAEAEA; padding-top: 0; padding-bottom: 9px;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
      <tbody class="mcnTextBlockOuter">
        <tr>
          <td valign="top" class="mcnTextBlockInner" style="padding-top:20px;">
            <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
              <tbody>
                <tr>
                  <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
                    <h2 style="font-weight: normal; color: #333333; font-family: Arial; margin-top: 0px; margin-bottom: 20px;">
                      Comment For Your Product!
                    </h2>
                    <h3><%= @comment.commentable.title %></h3>
                    <h3><%= @comment.commentable.code %></h3>
                    <a href="<%= @product_url %>">
                      <%= image_tag @comment.commentable.galleries.first.file(:small) %>
                    </a>
                    <p style="font-size: 14px; line-height: 22px; font-family: Arial; color: #333; margin: 0px;">
                      Name: <b><%= @comment.user.username %></b><br>
                      Email: <b><%= @comment.user.email %></b><br>
                      Phone: <b><%= @comment.user.profile.phone %></b><br>
                      <p style="padding: 15px; background: #f5f5f5">
                        <%= @comment.comment %>
                      </p>
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<%= render 'user_mailer/footer' %>