- @collection.each do |resource|
  - @product = resource.favoriteable
  .list-our-product
    .col-md-2.col-xs-12
      .cover
        = image_tag @product.try(:galleries).try(:first).try(:file).url(:medium)
    .col-md-10.col-xs-12
      h4 
        = link_to @product.title, product_path(@product)
        = link_to '<i class="fa fa-times-circle"></i>'.html_safe, resource_path(resource), method: 'delete', data: {confirm: "Are you sure delete this"}, class: 'btn btn-xs btn-danger pull-right'
      .category
        span.uppercase
          | Id: #{@product.code}
        |  . &nbsp;
        = @product.try(:category).try(:name)
        |  . Saved &nbsp;
        = resource.created_at.strftime("%I:%M %B, %d, %Y")
      span.price
        = get_currency(@product.price) if @product.price.present?
      span.basic_price
        = get_currency(@product.basic_price) if @product.basic_price.present?

= paginate @collection