.row
  .col-md-6
    h6 Payment
    = faq.cktext_area :payment, class: 'form-control', required: true
  .col-md-6
    h6 Shipping
    = faq.cktext_area :shipping, class: 'form-control', required: true
  .col-md-6
    h6 Refund and exchange
    = faq.cktext_area :refund_and_exchange, class: 'form-control', required: true
  .col-md-6
    h6 Faq
    = faq.cktext_area :faq, class: 'form-control'
