.col-md-6.nested-fields
  .section-pic
    .row
      .col-md-4
        h6 Logo Shipping
        .customize-img-web-setting-2
          = image_tag f.object.logo.url, id: 'view_img'
        = f.file_field :logo
      .col-md-8
        = link_to_remove_association "<i class='fa fa-times'></i>".html_safe, f, class: 'btn btn-danger btn-xs pull-right'
        h6 Activated
        = f.check_box :status
      .col-md-8
        h6 Shipping Name
        = f.text_field :name, class: 'form-control', required: true
      .col-md-4
        h6 Position
        = f.number_field :position, class: 'form-control'
