section.section-carousel
  .container
    .col-md-9
      #transition-timer-carousel class="home-carousel carousel slide transition-timer-carousel" data-ride="carousel"
        .carousel-inner
          - @setting.galleries.each_with_index do |resource, index|
            div class=['item', "#{'active' if index == 0}"]
              .main-text
                .text-center
                  h1 Shop directly from people around the world
                  p Buy from creative people who care about quality and craftsmanship
                  = link_to products_path do
                    button class="btn btn-alert btn-create-sell"
                      | START SHOP
              = image_tag resource.file.url(:large)
        a class="left carousel-control" href="#transition-timer-carousel" data-slide="prev"
          span.glyphicon.glyphicon-chevron-left
        a class="right carousel-control" href="#transition-timer-carousel" data-slide="next"
          span.glyphicon.glyphicon-chevron-right
        hr class="transition-timer-carousel-progress-bar animate"

    .col-md-3.mock-side-right
      .mock-right1
        = image_tag 'mock_right1.jpg'
      .mock-right2
        .overlay
        = image_tag 'mock_right2.jpg'

