.col-xs-12
  .container
    - if params[:controller] == 'publics' && params[:action] == 'home' || params[:controller] == 'products'
      .col-md-9
        .newsletter
          = form_for Subscribe.new, url: subscribes_path, method: 'post', html: {class: 'form_newsletter'} do |subscribe|
            .description
              h5.heading Get a Newsletter
              p We will respond within 3 bussiness days
            .input-group
              = subscribe.text_field :email, class: 'form-control', placeholder: 'Your Email Address'
              .input-group-btn
                button class="btn by-search" type="submit"
                  i class="fa fa-envelope"
        .hotline
          = image_tag 'hotline.png', class: 'img-responsive'
      
      .col-md-3
        .mini-map#maps

      .col-md-12
        .info-account-bank
          = image_tag 'mandiri.png'
          = image_tag 'bca.png'
          = image_tag 'bni.png'
          = image_tag 'bri.png'
    
footer.footer
  .container
    .col-md-3
      h3 About Us
      p #{@setting.description}
    .col-md-3
      h3 Buy
      ul.footer-box-list
        - @landing_pages.buy.each do |page|
          li
            = link_to page.title, landing_page_path(page)
    .col-md-3
      h3 Sell
      ul.footer-box-list
        - @landing_pages.sell.each do |page|
          li
            = link_to page.title, landing_page_path(page)
    .col-md-3
      h3 Help
      ul.footer-box-list
        - @landing_pages.help.each do |page|
          li
            = link_to page.title, landing_page_path(page)

  .copyright
    .container
      .col-md-6.col-sm-12.col-xs-12
        p
          = @setting.footer_tags
      .col-md-6.col-sm-12.col-xs-12
        .follow-us
          b
            | Find Us On &nbsp;&nbsp;
          a href="#{@setting.facebook}" class="btn site-facebook"
            i class="fa fa-facebook"
          a href="#{@setting.twitter}" class="btn site-twitter"
            i class="fa fa-twitter"

= render 'shareds/sign_in'


