.panel.panel-default
  .panel-heading
    h4.text-center.uppercase
      | Invoice <strong>#{@order.code}</strong>
    center.small
      | <b>Invoice Date : </b> 
      = @order.try(:purchased_at).strftime("%B, %d, %Y") if @order.purchased_at
      br
      | <b>Due Date : </b> 
      = (@order.try(:purchased_at)+ 3.days).strftime("%B, %d, %Y") if @order.purchased_at
      br
      - if @order.shipping_number.present?
        | <b>Shipping Number : </b> 
        = @order.try(:shipping_number)
      - if current_user.admin?
        = form_for @order, url: backend_order_path(@order), method: 'put', html: {class: ''} do |f|
          = f.select :order_status_id, options_for_select(PaymentStatus.to_a, @order.order_status_id), {prompt: 'Select Status'}
          = f.submit :change, class: 'btn btn-xs btn-info'
  .panel-body
    .row
      .col-md-12
        h5.uppercase
          | Invoiced To
        = @order.try(:payer_company)
        br
        = @order.try(:payer_name)
        br
        small
          | Shipping: &nbsp;
          = @order.address.place_info
          - if current_user.admin?
            = form_for @order, url: backend_order_path(@order), method: 'put', html: {class: ''} do |f|
              = f.text_field :shipping_number, class: '', placeholder: 'Shipping Number'
              br
              = f.select :track_order, options_for_select(TrackOrder.to_a, @order.track_order), {prompt: 'Status Track Order'}
              br
              = f.submit :change, class: 'btn btn-xs btn-info'
    .break
    .break
    .shopping-cart
      .row
        .col-md-12
          .catalog-item-show
            .table-responsive.table-order-list
              table class="table table-striped"
                thead
                  tr
                    td width="40%"
                      | <strong>Item Name</strong>
                    td class="text-center"
                      | <strong>Quantity</strong>
                    td class="text-center"
                      | <strong>Weight</strong>
                    td class="text-right"
                      | <strong>Item Price</strong>
                tbody
                  - @order.order_items.each do |order_item| 
                    tr
                      td
                        .avatar-author
                          = image_tag order_item.try(:product).try(:galleries).try(:first).try(:file).url(:medium)
                        small.uppercase
                          | Id #{@order.code} <br>
                        = link_to "#{order_item.product.title}", product_path(order_item.product.slug), class: 'title-product'
                        / - if current_user.admin?
                        /   = form_for order_item, url: backend_order_item_path(order_item), method: 'put', html: {class: ''} do |f|
                        /     = f.select :track_order, options_for_select(TrackOrder.to_a, order_item.track_order), {prompt: 'Status Track Order'}
                        /     = f.submit :change, class: 'btn btn-xs btn-info'
                      td.text-center
                        span
                          = order_item.quantity
                      td.text-center
                        span
                          | #{order_item.weight.to_i} gram
                      td.text-right
                        span
                          = get_currency(order_item.total_price)
                  tr
                    td class="highrow"
                    td class="highrow"
                    td class="highrow text-center"
                      | <h5>Total Price Shopping</h5>
                    td class="highrow text-right"
                      | <h5>#{get_currency(@order.total)}</h5>
                  tr
                    td class="highrow"
                    td class="highrow"
                    td class="highrow text-center"
                      | <h5>Shipping #{@order.shipping_method}</h5>
                    td class="highrow text-right"
                      | <h5>#{get_currency(@order.shipping_price) if @order.shipping_price.present?}/ #{@order.total_weight?} gram</h5>
                  tr
                    td class="highrow"
                    td class="highrow"
                    td class="highrow text-center"
                      | <h5>TOTAL</h5>
                    td class="highrow text-right"
                      | <h5>#{get_currency(@order.total_price?)}</h5>

            h4 Transaction
            .table-responsive.table-order-list
              table class="table table-striped"
                thead
                  tr
                    td class="text-center" width="20%"
                      | <strong>Transaction Date</strong>
                    td class="text-center" width="20%"
                      | <strong>Payer</strong>
                    td class="text-center"
                      | <strong>Payment To</strong>
                    td class="text-center"
                      | <strong>Payment Status</strong>
                    td class="text-center"
                      | <strong>Transaction ID</strong>
                tbody
                  tr
                    td.text-center
                      span
                        = @order.try(:purchased_at).strftime("%B, %d, %Y") if @order.purchased_at
                    td.text-center
                      span
                        = @order.try(:payer_name)
                    td.text-center
                      span
                        = @order.try(:paymentTo)
                    td.text-center
                      span
                        = @order.status?
                    td.text-center
                      span
                        = @order.try(:payment_token)

            h4 Shipping
            .table-responsive.table-order-list
              table class="table table-striped"
                thead
                  tr
                    td class="text-center" width="15%"
                      | <strong>Receiver</strong>
                    td class="text-center" width="20%"
                      | <strong>Shipping Method</strong>
                    td class="text-center" width="15%"
                      | <strong>Shipping Order</strong>
                    - if @order.shipping_number.present?
                      td class="text-center" width="15%"
                        | <strong>Shipping Number</strong>
                    td class="text-center" width="10%"
                      | <strong>Phone</strong>
                    td class="text-center"
                      | <strong>Shipping Address</strong>
                tbody
                  tr
                    td.text-center
                      span
                        = @order.try(:payer_name)
                    td.text-center
                      span
                        = @order.try(:shipping_method)
                    td.text-center
                      span
                        = @order.try(:track_order)
                    - if @order.shipping_number.present?
                      td.text-center
                        span
                          = @order.try(:shipping_number)
                    td.text-center
                      span
                        = @order.try(:payer_phone)
                    td.text-center
                      span
                        = @order.address.place_info