li
  .header-inbox-pop
    small.pull-left
      | Messages(#{@latest_inquiries.size})
    = link_to '<small class="pull-right">View Inbox</small>'.html_safe, userpage_inquiries_path
  .box-inbox-pop
    = '<span class="p-message">No data founds!</span>'.html_safe unless @latest_inquiries.present?
    - @latest_inquiries.limit(5).each do |i|
      - if i.parent.present?
        = link_to userpage_inquiry_path(i.parent.id) do
          .list-message-limit
            | <div class='usr'><b>#{i.user.username}</b></div>
            | <div>#{i.message}</div>
      - elsif i.parent.blank?
        = link_to userpage_inquiry_path(i) do
          .list-message-limit
            | <div class='usr'><b>#{i.name}</b></div>
            | <div>#{i.message}</div>