.modal.fade.bs-modal-sm id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"
  .modal-dialog.modal-sm
    .modal-content
      .modal-header.bg-sky.modal-header-info
        h3 align="center" SignIn
      .modal-body.modal-sign
        = form_for :user, url: user_session_path, method: 'post', html: {class: ""} do |f| 
          fieldset
            .form-group
              = link_to user_omniauth_authorize_path(:facebook), class: 'btn btn-primary-fb' do 
                | <i class="fa fa-facebook"></i>
                | Login With Facebook
            .form-group
              = link_to user_omniauth_authorize_path(:google_oauth2), class: 'btn btn-full btn-danger' do 
                | <i class="fa fa-google-plus"></i>
                | Login With Gmail
            .form-group
              .col-xs-12.or-section
                | <i class="omb-or"></i><span class="omb-span">OR</span>
              .break
            .form-group
              .controls
                = f.text_field :login, class: "form-control", placeholder: "Username or Email" 
            .form-group
              .controls
                = f.password_field :password, class: "form-control password", placeholder: "Password" 
            .row
              .col-md-12
                .form-group
                  = f.check_box :remember_me, class: "grey remember" 
                  | <span>Keep me signed in</span>
              .col-md-12
                .form-group
                  .controls
                    = f.submit 'SignIn',  class: "btn btn-lg btn-primary btn-block"
              .col-md-6
                small
                  | Not Member?
                  | <a href="#signup" data-dismiss="modal" data-toggle="modal" data-target=".bs-modal-sm2">Register</a>
              .col-md-6
                small
                  = link_to 'Forgot Password ?', new_user_password_path

.modal.fade.bs-modal-sm2 id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"
  .modal-dialog.modal-sm
    .modal-content
      .modal-header.modal-header-info
        h3 align="center" Register
      .modal-body.modal-sign
        = form_for :user, url: user_registration_path, method: 'post', html: {class: "form-horizontal"} do |f| 
          = f.fields_for(:profile_attributes) do |profile| 
            fieldset
              .col-md-12
                .form-group
                  = link_to user_omniauth_authorize_path(:facebook), class: 'btn btn-primary-fb' do 
                    | <i class="fa fa-facebook pull-left"></i> Register With Facebook
                .form-group
                  .col-xs-12.or-section
                    | <i class="omb-or"></i><span class="omb-span">OR</span>
                .form-group
                  label class="control-label" for="userid" Fullname:
                  .controls
                    = profile.text_field :full_name, class: "form-control", required: true 
                .form-group
                  label class="control-label" for="userid" Username:
                  .controls
                    = f.text_field :username, class: "form-control", required: true 
                .form-group
                  label class="control-label" for="Email" Email:
                  .controls
                    = f.email_field :email, class: "form-control", required: true 
                .form-group
                  label class="control-label" for="password" Password:
                  .controls
                    = f.password_field :password, class: "form-control password", required: true 
                .form-group
                  label class="control-label" for="reenterpassword" Password Confirmation:
                  .controls
                    = f.password_field :password_confirmation, class: "form-control password", required: true 
                .form-group
                  label class="control-label" for="confirm"
                  .controls
                    = f.submit 'SignUp', class: "btn btn-lg btn-primary btn-block btn-success"
                .form-group
                  .margin-auto-display-table
                    small 
                      | Already Registered?
                      | <a href="#signin" data-dismiss="modal" data-toggle="modal" data-target=".bs-modal-sm">Login</a>
