.top-bar
  .container
    .col-md-6.col-sm-12.col-xs-12
      ul.top_info
        li
          = link_to "<i class='fa fa-phone'></i> #{@setting.contact}".html_safe, root_path
        li
          = link_to '<i class="fa fa-envelope-o"></i> Contact Us'.html_safe, guest_books_path
        li
          = link_to '<i class="fa fa-money"></i> Payment Confirmation'.html_safe, new_confirmation_path
    .col-md-6.col-sm-12.col-xs-12
      ul.nav-account
        - unless current_user
          li
            = link_to '<i class="fa fa-edit" aria-hidden="true"></i>Register'.html_safe, new_user_registration_path
          li
            a href="#signin" data-toggle="modal" data-target=".bs-modal-sm" <i class="fa fa-key" aria-hidden="true"></i> Sign In
        - else
          li
            = link_to '<i class="fa fa-mail-reply" aria-hidden="true"></i> Sign Out'.html_safe, destroy_user_session_path, method: 'delete'
          li
            a.dropdown-toggle data-toggle="dropdown"
              i.fa.fa-user
              = current_user.email
              i.fa.fa-caret-down
            ul.dropdown-menu
              li
                = link_to 'Beranda <i class="fa fa-home pull-right"></i>'.html_safe, userpage_dashboard_path
              li
                = link_to 'Whishlists <i class="fa fa-heart-o pull-right"></i>'.html_safe, userpage_favorites_path
              li
                = link_to 'My Orders <i class="fa fa-files-o pull-right"></i>'.html_safe, userpage_orders_path
              li
                = link_to 'Settings <i class="fa fa-wrench pull-right"></i>'.html_safe, user_edit_url(current_user.type, current_user)
              li
                = link_to 'Sign Out <i class="fa fa-mail-reply pull-right"></i>'.html_safe, destroy_user_session_path, method: 'delete'

.top-brand-web
  .container
    .col-md-3
      = link_to "<h1>#{image_tag @setting.logo.url(:small)}</h1>".html_safe, root_path, class: "brand"
    .col-md-6
      = form_for :search, url: products_path(params), method: 'get' do
        = hidden_field_tag :category, params[:category] if params[:category].present?
        .input-group
          = text_field_tag :key, params[:key], class: 'form-control', placeholder: 'Search by keywords ...'
          .input-group-btn
            button class="btn by-search" type="submit"
              i class="fa fa-search"
    .col-md-3
      - if current_user.present?
        .cart-text.btn.cart-btn
          = render 'shareds/cart_text'
      - else
        .cart-text.btn.cart-btn
          = link_to '#' do
            strong
              span.fa.fa-shopping-cart
              | SHOPPING CART
            br
            span 0 Items

#top-navigation
  nav.navbar-default
    .container
      .col-md-12
        .navbar-header
          button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-megadropdown-tabs"
            span class="sr-only">Toggle navigation
            span class="icon-bar"
            span class="icon-bar"
            span class="icon-bar"
        .collapse.navbar-collapse id="bs-megadropdown-tabs"
          ul.nav.navbar-nav.top-menu
            li
              = link_to "All", products_path
            - @categories.each do |category|
              li.dropdown
                a data-toggle="dropdown" href="#" class="dropdown-toggle"
                  = category.name
                  i.fa.fa-caret-down
                ul.dropdown-menu.list-dropdown-menu
                  - category.children.latest.each do |child|
                    li
                      = link_to "<span>#{child.name}</span> <span class='pull-right bold'>#{child.products.size}</span>".html_safe, products_path(params.merge(category: child.name)), method: 'get'


