.widget
  .widget-content
    .table-responsive
      table class="table table-striped table-bordered table-hover"
        thead
          tr
            th width="10%" Invoice Code
            th payerID
            th Payment
            th Total Shopping
            th Total Shipping
            / th Fee Development
            th Order At
          - @reports.each_with_index do |resource, index| 
            tr 
              td
                = link_to "#{resource.code}", backend_order_path(resource)
              td
                = resource.payerID
              td
                = resource.status?
              td
                b
                  = get_currency(resource.total) if resource.total.present?
              td
                b
                  = get_currency(resource.shipping_price) if resource.shipping_price.present?
              / td
              /   b
              /     = get_currency(resource.total * 2.5/100) if resource.total.present?
              td
                small
                  = resource.try(:purchased_at).strftime("%B, %d, %Y") 
    .widget-foot
      .pull-right
        = paginate @reports 
      .clearfix