.container
	.col-md-12
    = javascript_include_tag "//www.google.com/jsapi", "chartkick"
    .well
      h4 align= 'center' Chart Customers Who Order Products
    = column_chart @people_order_in_month
    br
    ul.today-datas.display-center
      li
        div class="datas-text"
          b = Visit.count_today
          br visitors Today
      li
        div class="datas-text"
          b = Visit.count_week
          br Visitors This Week
      li
        div class="datas-text"
          b = Visit.count_month
          br Visitor This Month
      li
        div class="datas-text"
          b = Visit.count_year
          br Visitor This Year
      li
        div class="datas-text"
          b = Visit.count
          br Visitors till date
    ul.today-datas
      li
        div
          span id="todayspark1" class="spark"
            canvas width="77" height="30" style="display: inline-block; width: 77px; height: 30px; vertical-align: top;"
        div class="datas-text"
          b
            = @order_cancelled.size
          | <br>&nbsp; Orders Cancelled
      li
        div
          span id="todayspark3" class="spark"
            canvas width="77" height="30" style="display: inline-block; width: 77px; height: 30px; vertical-align: top;"
        div class="datas-text"
          b
            = @order_in_progress.size
          | <br>&nbsp; Orders In Progress
      li
        div
          span id="todayspark2" class="spark"
            canvas width="77" height="30" style="display: inline-block; width: 77px; height: 30px; vertical-align: top;"
        div class="datas-text"
          b
            = @order_verification.size
          | <br>&nbsp; Orders Verification
      li
        div
          span id="todayspark4" class="spark"
            canvas width="77" height="30" style="display: inline-block; width: 77px; height: 30px; vertical-align: top;"
        div class="datas-text"
          b
            = @order_paid.size
          | <br>&nbsp; Orders Paid
      li
        div
          span id="todayspark5" class="spark"
            canvas width="250" height="30" style="display: inline-block; width: 250px; height: 30px; vertical-align: top;"
        div class="datas-text" 
          b
            = get_currency(@reports_collect.without_in_progress.pluck(:total).sum) if @orders_size.present?
          | <br>Total Balance
      li
        div
          i class="fa fa-truck fa-2"
        div class="datas-text" 
          b
            = get_currency(@reports_collect.without_in_progress.pluck(:shipping_price).sum) if @orders_size.present?
          | <br>Shipping Balance
      / li
      /   div
      /     i class="fa fa-money"
      /   div class="datas-text" 
      /     b
      /       = get_currency(@reports_collect.without_in_progress.pluck(:total).sum * 2.5/100) if @orders_size.present?
      /     | <br>FEE Development
.col-md-12
  = render 'backend/shareds/search_form_report'
  = render 'report'



