.timeline-profil.shadow
  h3 Latest Activities
  #wallmessages.qa-message-list
    - unless @activities.present?
      .alert.alert-warning
        p Not yet record activities!
    - else
      - @activities.each do |activity|
        #m16.message-item.wow.bounceInUp
          .message-inner
            .message-head.clearfix
              .user-detail
                .post-meta
                  .asker-meta
                    span.qa-message-what
                    span.qa-message-when
                      span.qa-message-when-data 
                        = activity.created_at.strftime("%I:%M %B, %d, %Y")
                    span.qa-message-who
                      span.qa-message-who-pad by 
                      span.qa-message-who-data
                        | #{current_user.username}
            .qa-message-content
              = activity.title

      = paginate @activities