.row
  .col-md-12
    = link_to '<i class="fa fa-bars"></i> Back To List Products'.html_safe, collection_path
.break
.page-body
  .row
    .col-md-12
      h6 Title
      = f.text_field :title, class: 'form-control', required: true 
    .col-md-6
      h6 Category
      .category-container
        = f.collection_select(:category_id, Category.arrange_as_array({:order => 'name'}, 
                         nil), :id, :name_for_selects, {prompt: "Choice Category"}, {class: "form-control select2", required: true})
    .col-md-6
      h6 Price
      = f.number_field :price, class: 'form-control', placeholder: 'ex. 10000000' 
    .col-md-12
      h6 Description
      = f.cktext_area :description, class: 'form-control', required: true 
  .row
    .col-md-12
      h4 Gallery
      hr
      .setup-content
        ul.choice-gallery-form
          = f.fields_for :galleries do |g| 
            = render 'gallery_fields', f: g 
  .break
  .row
    .col-md-12
      h4 Product Spec
      hr
      = f.fields_for :product_spec do |product_spec|
        = render 'product_specs', f: f, product_spec: product_spec
  .break
  .row
    .col-md-12
      h4 Product Attributes
      hr
    .setup-content
      = f.fields_for :product_fields do |product_field|
        = render 'product_fields', f: product_field

      .col-md-12
        = link_to_add_association f, :product_fields, partial: 'product_fields', class: "btn btn-success btn-sm" do
          i class="fa fa-picture-o"
          span Add Model


