.col-md-12.nested-fields
  .section-pic
    .row
      .col-md-11
        h6 Choice Color
        .collection-color
          - Color.to_a.each do |indo, eng|
            div id="btn-color" class="btn btn-color-box2 col-xs-3" title="#{indo}" style="background-color:#{eng}"
              = f.radio_button :color, eng.downcase, class: "color-ids2", required: true
      .col-md-1
        = link_to_remove_association "<i class='fa fa-times'></i>".html_safe, f, class: 'btn btn-danger btn-xs pull-right'
      .break
      .col-md-6
        h6 Stock
        = f.number_field :stock, class: 'form-control', placeholder: 'ex. 10 ...', required: true
      .col-md-6
        h6 Available Size
        = f.text_field :available_size, class: 'form-control', placeholder: 'ex. M, XL, S or 27, 28...', required: true



