.row
  .col-md-10
    h6 Material
    = product_spec.text_field :material, class: 'form-control', placeholder: 'ex. Cotton, Spandex, Chiffon'
  .col-md-2
    h6 Weight (Kg)
    = f.number_field :weight, class: 'form-control', placeholder: 'ex. 1 Kg', step: 'any'
  .col-md-12
    h6 Information
    = product_spec.text_field :information, class: 'form-control', placeholder: 'ex. Information'
