.row
  .col-md-12
    small Find Results <b> #{@products.size} </b>
  .col-md-6
      = form_for :search, url: collection_path, html: {class: 'simple-search'}, method: 'get' do
        = text_field_tag :key, nil, value: params[:key], class: 'form-control', placeholder: 'keywords..'
  .col-md-6
    = link_to '<i class="fa fa-plus-square"></i> Create New'.html_safe, new_resource_path, class: 'btn btn-info pull-right'
.break
- @collection.each do |resource|
  .list-our-product
    .col-md-2.col-sm-2
      .cover
        = image_tag resource.try(:galleries).try(:first).try(:file).url(:medium)
    .col-md-10.col-sm-10
      h4
        = link_to resource.title, product_path(resource)
        span.small.uppercase
          | &nbsp;[Id: #{resource.code}]
        = link_to '<i class="fa fa-wrench"></i>'.html_safe, edit_resource_path(resource), class: 'btn btn-xs btn-info pull-right'
        = link_to '<i class="fa fa-times-circle"></i>'.html_safe, resource_path(resource), method: 'delete', data: {confirm: "Are you sure delete this"}, class: 'btn btn-xs btn-danger pull-right'
    .col-md-5.col-sm-5
      .category
        | Category &nbsp;
        = resource.try(:category).try(:name)
        |  . Created At &nbsp;
        = resource.created_at.strftime("%B, %d, %Y") if resource.created_at.present?
      span.price
        = get_currency(resource.price) if resource.price.present?
      span.small
        = resource.active?
      .break
      div.small
        | Have Sold:
        a href="#"
          span class="fa fa-shopping-cart"
          | &nbsp; #{resource.have_sold?} Items</a>
    .col-md-5.col-sm-5
      div.small
        | Available Color:
        | <a href="#">#{resource.product_fields.latest.pluck(:color)}</a>
      div.small
        | Have Seen:
        | <a href="#">#{resource.impressionist_count} people</a>
      div.small
        | Feedback:
        | <a href="#">#{resource.comments.size} comments & reviews</a>
      div.small
        | Favorited by:
        | <a href="#">#{resource.favorites.size} people</a>

= paginate @collection
