.col-md-12
  = render 'backend/shareds/search_form_user'
  = form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do 
    .widget
      = render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Confirmations', button_name: 'Confirmations', add_method: true} 
      .widget-content
        .table-responsive
          table class="table table-striped table-bordered table-hover"
            thead
              tr
                th width="1%" #
                th width="10%" For Invoice Code
                th Payer
                th Nominal
                th To Bank Account
                th Payment Method
                th Payment At
                th width="10%" Action
              - @collection.each_with_index do |resource, index| 
                tr 
                  td = check_box_tag "ids[]", resource.id 
                  td
                    = link_to "#{resource.no_invoice}", resource_path(resource)
                  td
                    = resource.sender_name
                  td
                    b
                      = get_currency(resource.nominal) if resource.nominal.present?
                  td
                    = resource.bank_account
                  td
                    = resource.payment_method
                  td
                    small
                      = resource.try(:payment_date).strftime("%B, %d, %Y") if resource.payment_date.present?
                  td 
                    = render partial: 'backend/shareds/prepare_action',
                      locals: { resource: resource, confirmation: "Are you sure delete this #{resource.id}", no_show: false } 
        .widget-foot
          .pull-right
            = paginate @collection 
          .clearfix
