.col-md-12
  .panel.panel-default
    .panel-heading
      h4.text-center.uppercase
        | For Invoice <strong>#{resource.no_invoice}</strong>
      center.small
        | <b>Payment Date : </b> 
        = resource.try(:payment_date).strftime("%B, %d, %Y") if resource.payment_date
        br
        | <b>Order Name : </b> 
        = resource.try(:name)
        | (#{resource.try(:email)})
    .panel-body
      .row
        .col-md-12
          .table-responsive.table-order-list
            table class="table table-striped"
              thead
                tr
                  td class="text-center" width="20%"
                    | <strong>Sender</strong>
                  td class="text-center"
                    | <strong>Nominal</strong>
                  td class="text-center"
                    | <strong>To Bank Account</strong>
                  td class="text-center"
                    | <strong>Payment Method</strong>
                  td class="text-center"
                    | <strong>Buyer</strong>
              tbody
                tr
                  td.text-center
                    span
                      = resource.try(:sender_name)
                  td.text-center
                    b
                      = get_currency(resource.nominal) if resource.nominal.present?
                  td.text-center
                    span
                      = resource.try(:bank_account)
                  td.text-center
                    span
                      = resource.try(:payment_method)
                  td.text-center
                    span
                      = resource.try(:name)
          p 
            b Message:
          p 
            = resource.message
  .well
    center 
      h4
        i class="fa fa-check" Matching
  = render 'shareds/invoice' if @order.present?
