tr
  td width="5%"
    = index
  td width="40%"
    = link_to "<i class='fa fa-close'></i>".html_safe, order_item, { data: { confirm: "Are you sure you wish to delete the item '#{product.title}' from your cart?" }, method: :delete, remote: true, class: 'pull-left' }
    .avatar-author
      = image_tag product.try(:galleries).try(:first).try(:file).url(:medium)
    small.uppercase
      | Id #{product.code} <br>
    = link_to "#{product.title}", product_path(product.slug), class: 'title-product'
  td width='10%' class="text-center"
    = form_for order_item, remote: true do |f|
      = f.hidden_field :product_id, value: product.id
      = f.number_field :quantity, value: order_item.quantity.to_i, max: product.product_spec.stock, min: 0, class: 'input-quantity'
      = f.submit "Update", class: "btn btn-info btn-xs"
  td class="text-right"
    span class="big-font"
      | #{order_item.weight.to_i} gram
  td class="text-right"
    span class="big-font"
      = get_currency(order_item.total_price)