.row
  = form_for @order, url: checkout_orders_path, method: 'get' do |f|
    = hidden_field_tag :weight, @order.total_weight?, class: 'weight'
    = f.fields_for :address do |address|
      .col-md-6
        .panel.panel-default
          .panel-heading
            h4 class="text-center"
              | Shipping Address
          .panel-body
            .row
              .break
              - @shipping_methods.each do |s|
                .col-md-6
                  .panel.panel-default
                    .panel-body
                      = f.radio_button :shipping_method, s.name, class: 'shipping shipping-method', 'data-node' => "order", required: true
                      = image_tag s.logo.url(:small), class: 'shipping-logo'
                      br
                      = s.name
              .col-md-12
                h6 * Fullname
                = f.text_field :payer_name, class: 'form-control', required: true, placeholder: 'ex. mr.alam ...'
              .col-md-12
                h6 Company
                = f.text_field :payer_company, class: 'form-control', placeholder: 'ex. PT.xxx ...'
              .col-md-12
                h6 * Phone
                = f.text_field :payer_phone, class: 'form-control', required: true, placeholder: 'ex. +6226644 ...'
              .col-md-12
                h6 * Province
                - provinces = address.object.province ? Shipment.alfa_province.where(name: f.object.shipping_method).pluck(:province).uniq || [] : Shipment.none rescue []
                .province-container
                  = address.select :province, options_for_select(provinces), {prompt: 'Choice Province'}, class: 'form-control provinces_select_shipment','data-node' => "order", required: true
              .col-md-6
                h6 * City
                - cities = address.object.city ? Shipment.alfa_city.where(province: address.object.province).pluck(:city).uniq || [] : Shipment.none rescue []
                .city-container
                  = address.select :city, options_for_select(cities), {prompt: 'Choice City'}, class: 'form-control cities_select_shipment','data-node' => "order", required: true
              .col-md-6
                h6 * Postcode
                = address.text_field :postcode, class: 'form-control', required: true
              .col-md-12
                h6 * Address
                = address.text_area :address, class: 'form-control', required: true
      .col-md-6
        h4 Shipping Method
        hr
        | <p><small>Standard delivery to region Jabodetabek <b>1 - 5</b> days</small></p>
        .row
          .col-md-3
            .btn.btn-info.get_estimation
              | Get Estimation
            .break
          .col-md-9
            .well.estimation
              span.shipping_price
                | Rp.0

        h4 Payment method
        hr
        - PaymentMethod.to_a.each do |p|
          .panel.panel-default
            .panel-body
              = f.radio_button :payment_method, p[0], class: 'click-payment-method', required: true
              | &nbsp; #{p[0]}
        .paymentTo
          - @setting.payments.each do |p|
            .panel.panel-default
                .panel-body
                  = f.radio_button :paymentTo, "#{p.bank_name} An. #{p.name} #{p.account_number}", required: true
                  = image_tag p.logo.url, class: 'bank-logo'
                  | &nbsp; #{p.bank_name} &nbsp; An. #{p.name} &nbsp; #{p.account_number}

    .col-md-12
      = submit_tag "Proceed to Checkout", class: "btn btn-success btn-md pull-right"
      = link_to "Back To List Items", products_path, class: "btn btn-info btn-md pull-left"
