.panel.panel-default
  .panel-heading
    h4 class="suppercase"
      | Shopping Cart
  .panel-body
    .table-responsive
      .table-order-list
        table class="table table-striped"
          thead
            tr
              td
                | <strong>No.</strong>
              td width= '50%'
                | <strong>Item Name</strong>
              td class="text-center"
                | <strong>Quantity</strong>
              td class="text-center"
                | <strong>Weight</strong>
              td class="text-right"
                | <strong>Item Price</strong>
          tbody
            - @order_items.each_with_index do |order_item, index|
              = render 'orders/cart_row', index: index+1, product: order_item.product, order_item: order_item, show_total: true
            tr
              td class="highrow"
              td class="highrow"
              td class="highrow text-center"
                h4 TOTAL
              td class="highrow text-right"
                | #{@order.total_weight?} gram
              td class="highrow text-right"
                | <h4>#{get_currency(current_order.total)}</h4>


