section.grey
  .container
    .col-md-12
      - if !@order_item.nil? && @order_item.errors.any?
        .alert.alert-danger
          ul
          - @order_item.errors.full_messages.each do |msg|
            li
              = msg
      - if @order_items.size == 0
        p class="text-center"
          | There are no items in your order.  Please #{link_to "go back", products_path} and add some items to your order.
      - else
        .row
          .col-md-12
            .shopping-cart
              = render "shopping_cart"
            = render "shipping"