section.grey
  .container
    .col-md-12
      - if @order.user_id == current_user.id
        = render 'shareds/invoice'
      - else 
        | <h4 class="text-center">You do not have permission to access this page</h4>


