section.maps#maps
section.information-contact
  .container
    .col-md-6
      .panel
        h3 Buku Tamu
        .row
          = form_for GuestBook.new, url: guest_books_path, method: 'post' do | f |
            .col-md-12
              label
                | * Nama
              = f.text_field :name, class: 'form-control', placeholder: 'Nama Anda'
              .break

            .col-md-12
              label
                | * Email
              = f.text_field :email, class: 'form-control', placeholder: 'yourmail@mail.com'
              .break

            .col-md-12
              label
                | * Phone
              = f.text_field :phone, class: 'form-control', placeholder: 'E.X: 0857324343433'
              .break

            .col-md-12
              label
                | * Pesan
              = f.text_area :description, class: 'form-control', placeholder: 'Isi Pesan'
              .break

            .col-md-12
              label
              = submit_tag :submit, class: 'btn btn-primary btn-sm'


    .col-md-6
      h3 #{@setting.title}
      p
        i.fa.fa-map-marker 
        = @setting.address
      p
        | <i class="fa fa-clock-o"></i> Senin – Jum'at: 08:00 – 17:00
      p
        | <i class="fa fa-phone-square"></i> Phone : #{@setting.contact}
      p
        | <i class="fa fa-user"></i> Email : <a href="#{@setting.email}">#{@setting.email}</a>
