h3 Address
hr
.row
  .col-md-6
    h6 Province
    = address.select :province, options_for_select(Region.roots.alfa.pluck(:name), resource.address.province), {prompt: 'Choice Province'}, class: 'select2 form-control provinces_select', 'data-node' => "#{resource.class.to_s.downcase}"
    h6 City
    - cities = address.object.city ? Region.find_by(name: address.object.province).try(:children).pluck(:name) || [] : Region.none rescue []
    .city-container
      = address.select :city, options_for_select(cities, resource.address.city), {prompt: 'Choice City'}, class: 'select2 form-control'
  .col-md-6
    h6 Address
    = address.text_field :address, class: 'form-control'
    h6 Postcode
    = address.text_field :postcode, class: 'form-control'
