.row
  .col-md-12
    .row
      .col-md-12
        h6 Title
        = f.text_field :title, class: 'form-control', required: true
      .col-md-6
        h6 Category
        .category-container
          = f.collection_select(:category_id, Category.arrange_as_array({:order => 'name'},
                           nil), :id, :name_for_selects, {prompt: "Choice Category"}, {class: "form-control select2", required: true})
      .col-md-6
        h6 Brand
        .category-container
          = f.select :brand_id, Brand.alfa.pluck(:name, :id), {prompt: 'Select Brand'}, {class: 'form-control select2'} 

      .col-md-6
        h6 Normal Price
        = f.text_field :basic_price, class: 'form-control', placeholder: 'ex. 10000000', data: {autonumeric: true}
      .col-md-6
        h6 Selling Price
        = f.text_field :price, class: 'form-control', placeholder: 'ex. 10000000', data: {autonumeric: true}
      .col-md-12
        h6 Description
        = f.cktext_area :description, class: 'form-control', required: true
      .col-md-6
        br
        .well
          center
            p Featured
            p = f.check_box :featured
      .col-md-6
        br
        .well
          center
            p Published
            p = f.check_box :status
.row
  .col-md-12
    h3 Gallery
    hr
    .setup-content
      ul.choice-gallery-form
        = f.fields_for :galleries do |g|
          = render 'gallery_fields', f: g
.break
.row
  .col-md-12
    h3 Product Spec
    hr
    = f.fields_for :product_spec do |product_spec|
      = render 'product_specs', f: f, product_spec: product_spec
.break


