.row
  .col-md-2
    h6 Stock
    = product_spec.number_field :stock, class: 'form-control', placeholder: 'ex. 1 Kg', step: 'any', placeholder: 'ex : 1, 2 ... 100', required: true
  .col-md-2
    h6 Weight (gram)
    = f.number_field :weight, class: 'form-control', placeholder: 'ex. 1 gram', step: 'any', required: true
  .col-md-8
    h6 Material
    = product_spec.text_field :material, class: 'form-control', placeholder: 'ex. Cotton, Spandex, Chiffon', required: true
  .col-md-12
    h6 Information
    = product_spec.text_area :information, class: 'form-control', placeholder: 'ex. Information', style: 'height:200px;'

.break

/ .row
/   .col-md-12
/     h3 Product Status
/     hr
/   .col-md-12
/     .row
/       .col-md-2
/         .well
/           .center
/             h6 Indent
/             = f.check_box :indent
/       .col-md-5
/         h6 Range Shipping
/         = product_spec.text_field :range_shipping, class: 'form-control', placeholder: 'ex. Indent 1 - 5 Hari'
/       .col-md-1
/         .center
/           h6 
/             | &nbsp;
/           h5 OR
/       .col-md-4
/         h6 Stock
/         = product_spec.number_field :stock, class: 'form-control', placeholder: 'ex. 1 Kg', step: 'any', placeholder: 'ex : 1, 2 ... 100', required: true
/ .break

