.col-md-12
	= render 'backend/shareds/search_form_product'
	= form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do
		.widget
			= render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Products', button_name: 'Product', add_method: true}
			.widget-content
				.table-responsive
					table class="table table-striped table-bordered table-hover"
						thead
							tr
								th width="1%" #
								th Image
								th Product Id
								th width="20%" Title
								th Stock
								th Price
								th Category
								th Brand
								th Status
								th Created At
								th Action
						tbody
							- @collection.each_with_index do |resource, index|
								tr
									td = check_box_tag "ids[]", resource.id
									td = image_tag resource.galleries.first.file.url(:thumb)
									td = resource.code
									td
										= link_to resource.title, product_path(resource)
										= resource.featured?
									td
										small 
											= resource.status_stock?
									td 
										= get_currency(resource.price) if resource.price.present?
									td = resource.try(:category).try(:name)
									td = resource.try(:brand).try(:name)
									td
										= resource.active?
									td = resource.created_at.strftime("%B, %d, %Y") if resource.created_at.present?
									td
										= render partial: 'backend/shareds/prepare_action',
	                    locals: { resource: resource, confirmation: "Are you sure delete this #{resource.id}", no_show: false }
				.widget-foot
					.pull-right
						= paginate @collection
					.clearfix
