<% if @order.errors.any? || @order_item.errors.any? %>
  alert("not valid.");
<% else %>
  $('.cart-text').html('<%= escape_javascript render "shareds/cart_text" %>');
  $('.form-order').html('<%= escape_javascript render "shareds/already_order" %>');
<% end %>