$(".cart-text").html("<%= escape_javascript(render 'shareds/cart_text') %>")
$(".shopping-cart").html("<%= escape_javascript(render 'orders/shopping_cart') %>")
$(".weight").val("<%= @order.total_weight? %>")