/********************************/
/*        Global Custom         */
/********************************/
body{
  font-size: 13px;
  font-family: "Noto Sans", sans-serif;
}
i{
  margin: 0 5px;
}
.break{
  width: 100%;
  float: left;
  height: 10px;
}
.table-responsive{
  width: 100%;
  float: left;
}
.btn-full{
  width: 100%;
}

/********************************/
/*            Top Bar           */
/********************************/
.top-bar{
  background: #f5f5f5;
  width: 100%;
  font-size: 12px;
  border-top: solid 2px #499bea;
  float: left;
  width: 100%;
  .nav-account{
    float: right;
    width: 100%;
    list-style: none;
    margin: 0;
    li a{
      color: #999;
      padding: 12px 10px;
      float: right;
      font-weight: 500;
    }
    li a:hover{
      text-decoration: none;
      color: #EC7357;
      background: #eee;
    }
    li.open{
      position: relative;
      float: right;
    }
    .dropdown-toggle{
      cursor: pointer;
    }
    .dropdown-menu{
      width: 200px;
      border-radius: 0;
      border: 0;
      right: 0;
      li a{
        width: 100%;
        float: left;
        border-bottom: solid 1px #e1e1e1;
      }
    }
  }
  .top_info{
    padding-left: 0;
    list-style: none;
    font-weight: 300;
    li a{
      color: #999;
      padding: 12px 10px;
      float: left;
      font-weight: 500;
    }
    li a:hover{
      text-decoration: none;
      color: #EC7357;
      background: #eee;
    }
  }
}

/*=======================================
  Alert Custom
=======================================*/
.section-alert{
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 120px;
  padding-left: 10px;
  padding-right: 10px;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.5);
  padding-top: 120px;
  .alert, #error_explanation{
    width: 600px;
    z-index: 99;
    margin: auto;
    text-align: center;
  }
  #error_explanation{
    background: red;
    color: white;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    h2{
      margin-top: 0;
      font-size: 16px;
    }
  }
}
.alert{
  margin-top: 10px;
}

/********************************/
/*      Custom Menu Dropdown    */
/********************************/
.top-brand-web{
  float: left;
  width: 100%;
  .brand{
    height: 60px;
  }
  .input-group{
    margin-top: 20px;
    input{
      border-radius: 0!important;
      box-shadow: none!important;
      height: 40px;
    }
    button{
      border-radius: 0!important;
      box-shadow: none!important;
      height: 40px;
      background: #499bea;
      color: #fff;
    }
  }
  .cart-text{
    text-align: left;
    float: right;
    padding-top: 15px;
    strong{
      color: #EC7357;
      font-size: 12px;
    }
    span{
      font-size: 12px;
    }
    .fa{
      font-size: 40px;
      margin-right: 10px;
      float: left;
    }
  }
}

#top-navigation{
  float: left;
  width: 100%;
  .navbar-nav{
    float: right;
  }
  .navbar-default{
    background: #1C2437;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1),0 0 0 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1),0 0 0 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1),0 0 0 1px rgba(0, 0, 0, 0.05);
  }
  .navbar-toggle {
    padding: 15px 15px;
  }
  .navbar-nav>li>a {
    padding: 20px 20px;
    text-transform: uppercase;
  }
  .list-dropdown-menu{
    padding: 0;
  }
  .list-dropdown-menu li a{
    padding: 15px 10px;
    border-bottom: 1px solid #f5f5f5;
    color: #555;
    background-color: #fff;
  }
  .list-dropdown-menu li a:hover{
    background: #EC7357;
    color: #fff;
  }
  .navbar-default .navbar-nav > li > a{
    color: #fff;
  }
  .navbar-default .navbar-nav > li > a:hover{
    background: #EC7357;
    color: #fff;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus ,
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus{
    background: #EC7357;
    color: #fff;
  }
  .dropdown-menu{
    min-width: 200px;
    border-top: 0;
  }
}

/********************************/
/*    Carousel Home Custom      */
/********************************/
section.section-carousel{
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;

  .home-carousel .carousel-inner{
    height: 455px;
    background: black;
    .item{
      height: 100%;
      overflow: hidden;
    }
  }
  .transition-timer-carousel .carousel-inner img, .carousel-inner > .item > img, .carousel-inner > .item > a > img{
    width: 100%;
    height: auto;
    max-width: none;
  }
  .transition-timer-carousel .carousel-caption {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 4%, rgba(0,0,0,0.5) 32%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(4%,rgba(0,0,0,0.1)), color-stop(32%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    width: 100%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: left;
    padding-top: 5px;
    padding-left: 15%;
    padding-right: 15%;
  }
  .transition-timer-carousel .carousel-caption .carousel-caption-header {
    margin-top: 10px;
    font-size: 24px;
  }
  .transition-timer-carousel .carousel-indicators {
    bottom: 0px;
    margin-bottom: 5px;
  }
  .transition-timer-carousel .carousel-control {
    z-index: 11;
  }
  .transition-timer-carousel .transition-timer-carousel-progress-bar {
    height: 5px;
    background-color: #499bea;
    width: 0%;
    margin: -5px 0px 0px 0px;
    border: none;
    z-index: 11;
    position: relative;
  }
  .transition-timer-carousel .transition-timer-carousel-progress-bar.animate{
    -webkit-transition: width 4.25s linear;
    -moz-transition: width 4.25s linear;
    -o-transition: width 4.25s linear;
    transition: width 4.25s linear;
  }
  .carousel-control.left, .carousel-control.right{
    background-image: none!important;
  }
  .main-text {
    position: absolute;
    top: 40%;
    width: 80%;
    color: #FFF;
    margin: auto;
    display: table;
    left: 0;
    right: 0;
  }
  .main-text-auction{
    top: 25%;
    width: 50%;

    form{
      margin-bottom: 40px;
    }
    .form-control{
      border-radius: 0!important;
      border-left: 0!important;
    }
  }
  .main-text-auction
  .main-text-auction
  .main-text-auction .input-group-addon{
    border-right: 0!important;
  }
  .main-text h1 {
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    font-size: 30px;
    font-weight: bold;
    color: white;
  }
  .main-text p {
    font-size: 16px;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  }
  .btn-create-sell {
    border-radius: 6px!important;
    margin-bottom: 20px;
    font-size: 18px;
    padding: 10px 30px;
    background: #EC7357;
    border-style: none;
    color: #fff;
  }
  .btn-create-sell:hover {
    color: #fff;
    opacity: 0.7;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  }
}

.mock-side-right{
  padding-left: 0;
  .mock-right1{
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
    height: 220px;
    .overlay{
      position: absolute;
      height: 100%;
      width: 100%;
    }
    .overlay:hover{
      background: rgba(0,0,0,0.3);
    }
    img{
      width: 100%;
      -webkit-transition: all 1s ease; /* Safari and Chrome */
      -moz-transition: all 1s ease; /* Firefox */
      -ms-transition: all 1s ease; /* IE 9 */
      -o-transition: all 1s ease; /* Opera */
      transition: all 1s ease;
    }
    img:hover{
      -webkit-transform:scale(1.25); /* Safari and Chrome */
      -moz-transform:scale(1.25); /* Firefox */
      -ms-transform:scale(1.25); /* IE 9 */
      -o-transform:scale(1.25); /* Opera */
       transform:scale(1.25);
    }
  }

  .mock-right2{
    overflow: hidden;
    position: relative;
    height: 220px;
    .overlay{
      position: absolute;
      height: 100%;
      width: 100%;
    }
    .overlay:hover{
      background: rgba(0,0,0,0.3);
    }
    img{
      width: 100%;
      -webkit-transition: all 1s ease; /* Safari and Chrome */
      -moz-transition: all 1s ease; /* Firefox */
      -ms-transition: all 1s ease; /* IE 9 */
      -o-transition: all 1s ease; /* Opera */
      transition: all 1s ease;
    }
    img:hover{
      -webkit-transform:scale(1.25); /* Safari and Chrome */
      -moz-transform:scale(1.25); /* Firefox */
      -ms-transform:scale(1.25); /* IE 9 */
      -o-transform:scale(1.25); /* Opera */
       transform:scale(1.25);
    }
  }
}

/********************************/
/*        Info Bank Custom      */
/********************************/
.info-account-bank{
  margin: auto;
  display: table;
  margin-bottom: 20px;
  img{
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

/********************************/
/*   Panel Categories Product   */
/********************************/
.h-panel-category-latest-products{
  float: left;
  width: 100%;
  padding: 10px;
  padding-left: 0;
  padding-right: 0;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  small{
    font-weight: normal;
    a{
      color: #499bea;
    }
  }
}
.panel-category-latest-products{
  border: solid 1px #e1e1e1;
  border-top: solid 3px #499bea;
  float: left;
  width: 100%;
  margin-bottom: 20px;
  .cover_image{
    width: 100%;
    height: 560px;
  }
  .col-md-4{
    padding-right: 0;
  }
  .col-md-8{
    padding-left: 0;
  }
  .list-product-grid{
    article{
      border: solid 1px #e1e1e1;
      border-right: 0;
      border-top: 0;
      height: 280px;
      width: 25%;
      .cover{
        border: 0;
      }
      h4{
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}

.section-latest-featured{
  padding-bottom: 0;
  padding-top: 0;
}

.panel-category-latest-products-stick{
  border-top: solid 3px #499bea;
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

.responsive-slick{
  article{
    border: 0;
    border-right: 0;
    border-top: 0;
    height: auto!important;
    width: 20%;
    padding-bottom: 15px;
    border: 0!important;
    background: none!important;
    .cover{
      border: solid 1px #e1e1e1!important;
    }
    h4{
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

/********************************/
/*       Products Carousel      */
/********************************/
.slider{
  position: relative;
  .flexslider{
    margin-bottom: 10px;
  }
  .flex-caption {
    width: 100%;
    padding: 20px;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    font-size: 14px;
    line-height: 18px;
    position: absolute;
    margin-bottom: 0;
  }
  #slider-product{
    border: solid 1px #ccc;
    border-radius: 0;
  }
  #slider-product .slides > li {
    position: relative;
    overflow: hidden;
    height: 400px;
  }
  #carousel-product .slides > li {
    border: solid 1px #ccc;
    padding: 2px;
    margin-right: 4px;
    height: 80px;
    overflow: hidden;
  }
  .flexslider{
    background: none!important;
    border: 0;
  }
}

/********************************/
/*          Magnify Show        */
/********************************/
.magnify {
  position: relative;
  cursor: none
}
.magnify-large {
  position: absolute;
  display: none;
  width: 200px;
  height: 200px;
  -webkit-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.55), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.55), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.55), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);

  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
           border-radius: 100%
}

/********************************/
/*    Newsletter & Hotline      */
/********************************/
.newsletter{
  width: 60%;
  color: #FFFFFF;
  text-align: left;
  background: #1c2238;
  overflow: hidden;
  padding: 30px;
  margin-bottom: 20px;
  float: left;
  .form_newsletter{
    margin-bottom: 10px;
    .form-control{
      border-top: 1px solid #6791CD;
      height: 45px;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      padding: 0 20px;
      color: white;
      border: 0;
    }
    .btn{
      background: #FFFFFF;
      border: none;
      width: 45px;
      height: 45px;
      margin-left: 0;
      padding: 0;
      color: #444;
    }
  }
  .heading{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: none;
  }
  .description{
    font-size: 13px;
    color: #FFFFFF;
    margin-bottom: 30px;
  }
}
.hotline{
  width: 40%;
  margin-bottom: 20px;
  float: left;
  img{
    width: 100%;
    max-height: 209px;
  }
}
.mini-map{
  width: 100%;
  height: 209px;
  background: #ccc;
}

/********************************/
/*         Footer Custom        */
/********************************/
footer{
  padding: 20px 0;
  width: 100%;
  float: left;
  color: #333;
  font-size: 12px;
  border-top: solid 3px #499bea; 
  background: #f5f5f5;
  margin-bottom: 0;
  h1{
    text-align: center;
    padding-bottom: 40px;
  }
  h3{
    color: #333;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
  }
  h4{
    color: #333;
    font-weight: bold;
  }
  a{
    color: #909090;
    font-weight: 300;
  }
  a:hover{
    text-decoration: none;
  }
  p{
    color: #909090;
  }
  hr{
    border-top: 1px solid #ccc;
  }
  ul{
    padding-left: 0;
    list-style: none;
    li a{
      text-transform: uppercase;
      padding-bottom: 5px;
      float: left;
      width: 100%;
      font-size: 11px;
    }
  }
  .bottom-footer{
    background: #ccc;
    padding: 10px 0;
    margin-top: 20px;
    background: #1f1f1f;
    border-bottom: 2px solid #000;
    width: 100%;
    float: left;
    -webkit-box-shadow: 0 0 4px #000000;
    -moz-box-shadow: 0 0 4px #000000;
    -ms-box-shadow: 0 0 4px #000000;
    -o-box-shadow: 0 0 4px #000000;
    box-shadow: 0 0 4px #000000;
    color: white;
  }
  .hocial-lg{
    margin-bottom: 10px;
    margin: auto;
    display: table;
  }
  .footer-subscribe .btn {
    margin-top: 10px;
  }
}
.copyright{
  padding: 10px 0;
  background: #EC7357;
  color: white;
  float: left;
  width: 100%;
  p{
    margin-bottom: 0;
    padding: 10px 0;
    color:white;
  }
  .follow-us{
    float: right;
  }
}


/********************************/
/*      Sidebar Content         */
/********************************/
.sidebar-show {
  width: 100%;
  background: #fff;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 14px;
  float: left;
  background: rgba(237,237,237,1);
  background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,237,237,1)), color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(246,246,246,1)));
  background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%);
  background: -o-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%);
  background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%);
  background: linear-gradient(to bottom, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#f6f6f6', GradientType=0 );
  .btn-question-chat{
    width: auto!important;
  }
  .price-lg{
    font-size: 20px;
    color: #78C042;
  }
  .basic-price-lg{
    font-size: 16px;
    color: red;
    text-decoration: line-through;
    padding-left:10px; 
  }
  .price-label{
    font-size: 20px;
  }
  .btn-order{
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
  }
  .btn{
    width: 100%;
  }
  .btn-question{
    width: auto;
  }
  .title{
    margin-top: 0;
    font-size: 20px;
    font-weight: 400;
  }
  hr{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .verified{
    color: #78C042;
  }
  .properties{
    padding-left: 15px;
    color: #666;
  }
  .indent{
    padding: 5px 0px;
    font-size: 11px;
    border-radius: 4px;
    color: red;
    font-style: italic;
    width:100%;
  }
}
.side-filter-search{
  width: 100%;
  background: #f5f5f5;
  border: 1px solid #e4e4e4;
  float: left;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-radius: 4px;

  .panel-default{
    background: #f5f5f5;
    border: 1px solid #e4e4e4;
  }
  .panel-default .panel-heading {
    background-color: #333 !important;
    color: #ffffff !important;
    padding: 13px 15px;
    float: left;
    width: 100%;
  }
}

.form-side-search{
  background: #fff;
  padding: 10px;
  border: solid 1px #e1e1e1;
}

/********************************/
/*      Side Search Section     */
/********************************/
.side-filter-search {
  width: 100%;
  background: #efefeb;
  border: 1px solid #e4e4e4;
  float: left;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-radius: 4px;
}
.side-search-filter-choice{
  .panel-accords {
    background-color: #efefeb!important;
    color: #333 !important;
    float: left;
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 2px;
    text-transform: uppercase;
    font-weight: 500;
  }
  .table{
    margin-bottom: 0;
    border: 0;
    tr td{
      border-top: 0;
      border-bottom: solid 1px #f5f5f5;
      font-size: 12px;
      padding: 5px 10px;
      border-left: 0;
      border-right: 0;
    }
  }
  a.strong{
    font-weight: bold;
    color: #78c042;
  }
}
.h-category-shop{
  background: #EC7357;
  color: #fff;
  padding: 10px 10px;
  font-size: 16px;
  text-align: center;
}
.jslider{
  .jslider-value{
    background: #000!important;
    color: #fff;
  }
  .jslider-label{
    opacity: none;
  }
}
.btn-search-now {
  margin-bottom: 10px!important;
  width: 100%;
}

/********************************/
/*         Header Search        */
/********************************/
.header-search{
  padding: 30px 0 60px 0;
  background-image: url("/assets/bg_pattern.png");
  border-bottom: solid 2px #499bea;

  h4{
    color: #000;
    text-shadow: 2px 2px #fff;
    font-weight: 300;
    font-size: 20px;
  }
  .form{
    width: 60%;
    margin: auto;
    background-color:rgba(0,0,255,0.3);
    padding: 15px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    input{
      height: 46px;
    }
    .by-search{
      background: #499bea;
      background: -moz-linear-gradient(top, #499bea 0%, #207ce5 2%, #207ce5 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, #499bea), color-stop(2%, #207ce5), color-stop(100%, #207ce5));
      background: -webkit-linear-gradient(top, #499bea 0%, #207ce5 2%, #207ce5 100%);
      background: -o-linear-gradient(top, #499bea 0%, #207ce5 2%, #207ce5 100%);
      background: -ms-linear-gradient(top, #499bea 0%, #207ce5 2%, #207ce5 100%);
      background: linear-gradient(to bottom, #499bea 0%, #207ce5 2%, #207ce5 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=0 );
      color: #fff;
    }
  }
}
.simple-top-search{
  padding: 15px;
  background: #f5f5f5;
  border: solid 1px #e1e1e1;
  border-top: solid 3px #499bea;
  margin-bottom: 10px;
  select{
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
  }
  .layout-slider{
    padding: 6px 0;
  }
}

/********************************/
/*      Description Custom      */
/********************************/

.tab-content{
  float: left;
  width: 100%;
  background: #fff;
  padding: 20px;
  border: 1px solid #e4e4e4;
  border-top: 0;
  margin-bottom: 20px;
  h5{
    margin-top: 0;
  }
}
.section-comments-group{
  margin-bottom: 20px;
  .p_comment{
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 4px;
  }
}
.desc-product{
  background: #fff;
  padding: 20px;
  border: 1px solid #e4e4e4;
  border-radius: 4px;

  h5{
    margin-top: 0;
  }
}

/********************************/
/*      Button Color Custom     */
/********************************/
.btn-color-box{
  width: 40px!important;
  height: 40px!important;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 1px solid #dddddd;
  position: relative;
  cursor: pointer;

  input[type="radio"]{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%!important;
    height: 100%!important;
    opacity: 0;
    border-radius: 0;
  }
}
.btn-color-box.active{
  opacity: 1 !important;
  box-shadow: 4px 4px 11px -3px #000000;
}
.color-ids {
  margin-top: 0px;
  height: auto !important;
  position: absolute !important;
  overflow: hidden;
  opacity: 0;
  min-width: 100%;
  min-height: 80%;
  width: auto !important;
  width: 100%;
  left: 0%;
}

.btn-color-box2{
  width: 40px!important;
  height: 40px!important;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 1px solid #dddddd;
  position: relative;
  cursor: pointer;

  input[type="radio"]{
    position: absolute;
    border-radius: 0;
    margin: auto;
    display: table;
    left: 0;
    right: 0;
  }
}
.btn-color-box2.active{
  opacity: 1 !important;
  box-shadow: 4px 4px 11px -3px #000000;
}
.color-ids2 {
  margin-top: 0px;
  height: auto !important;
  position: absolute !important;
  min-width: 100%;
  min-height: 80%;
  width: auto !important;
  width: 100%;
  left: 0%;
}

/********************************/
/*   Featured Custom Section    */
/********************************/
.featured-section{
  /*display: table;
  margin: auto;*/
  float: right;

  .author-item{
    width: 92px;
    margin-bottom: 10px;
    padding: 0 6px;
  }
  .item{
    border: 3px solid #fff;
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    height: 80px;
    -webkit-box-shadow: 1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 3px -1px rgba(0,0,0,0.75);
  }
  .popover {
    min-width: 350px;
    padding-bottom: 6px;
    background: #fff;
    color: #232323;
    position: absolute;

    .tooltips-image{
      margin: 5px 0;
      height: 165px;
      overflow: hidden;
    }
    .tooltips-image img{
      width: 100%;
      height: auto;
    }
    .popover-title{
      background: #f5f5f5;
      font-weight: normal;
      border-bottom: solid 1px #efefeb;
      color: #333;
    }
  }
  .tooltips-content{
    display: block;
  }
  .tooltips-desc{
    width: 100%;
    float: left;
    margin: 6px 0 4px 0;
    clear: both;
  }
  .tooltips-tag{
    font-size: 12px;
    color: #B2B2B2;
    float: left;
    display: inline-block;
  }
  .tooltips-price{
    float: right;
    font-size: 14px;
    color: #78C042;
  }
  .tooltips-content{
    display: none;
  }
  .item img{
    width: 100%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.avatar-author{
  padding: 0!important;
  border: solid 2px #ccc;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
}
.avatar-author img {
  width: 100%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.brand-shop{
  margin-top: 10px;
}
.brand-shop a{
  color: #000;
}

.section-user{
  padding-top: 15px;
}
.breadcrumb{
  margin-bottom: 15px;
  background: none;
  font-size: 12px;
  a{
    color: #337ab7!important;
  }
}

/********************************/
/*          Box Custom          */
/********************************/
.section-service{
  padding: 0;
  margin-bottom: 20px;
}
.service{
  margin-top: 20px;
  .box {
    border-radius: 3px;
    padding: 10px 20px;
    text-align: center!important;
    display: block;
    border: solid 1px #fff;
    float: left;
    width: 100%;
  }
  .box-icon {
    border-radius: 50%;
    display: table;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    border: solid 2px #fff;
    background: #499bea;
    width: 30%;
    float: left;
  }
  .box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  .info{
    width: 70%;
    float: left;
    text-align: left;
    padding-left: 10px;
  }
  .info h4 {
    letter-spacing: 2px;
    color: black;
    text-align: left;
    font-size: 16px;
  }
  .info h5 {
    color: #aaa;
    font-size: 14px;
  }
  .info > p {
    color: #B2B2B2;
    font-size: 13px;
    font-weight: 200;
  }
  .info > a {
    background-color: #03a9f4;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
  }
  .info > a:hover {
    background-color: #0288d1;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
  }
  .img-circle {
    border-radius: 50%;
    width: 100%;
  }
}

/********************************/
/*     Button Custom Section    */
/********************************/
.btn-info {
  border-color: #54acc7 #4ca0ba #398a9d;
  background: #4fa9c6;
  background: -o-linear-gradient(top, #98d0e0 2%, #68b8d1 8%, #4fa9c6 58%, #4fa9c6 95%, #4ca4c0);
  background: -ms-linear-gradient(top, #98d0e0 2%, #68b8d1 8%, #4fa9c6 58%, #4fa9c6 95%, #4ca4c0);
  background: -moz-linear-gradient(top, #98d0e0 2%, #68b8d1 8%, #4fa9c6 58%, #4fa9c6 95%, #4ca4c0);
  background: -webkit-linear-gradient(top, #98d0e0 2%, #68b8d1 8%, #4fa9c6 58%, #4fa9c6 95%, #4ca4c0);
  background: linear-gradient(top, #98d0e0 2%, #68b8d1 8%, #4fa9c6 58%, #4fa9c6 95%, #4ca4c0);
  background: #499bea;
}
.btn-info:hover{
  border: solid 1px #398a9d;
}
.btn-default{
  background-color: #FFF;
  border-color: #dddad6 #D8D5D2 #c4c0bc;
  background: -webkit-linear-gradient(top, #fff 0, #fcfdfd 4%, #f2f3f3 11%, #f2f3f3 95%, #e8e9e9 100%);
  background: -moz-linear-gradient(top, #fff 0, #fcfdfd 4%, #f2f3f3 11%, #f2f3f3 95%, #e8e9e9 100%);
  background: -ms-linear-gradient(top, #fff 0, #fcfdfd 4%, #f2f3f3 11%, #f2f3f3 95%, #e8e9e9 100%);
  background: -o-linear-gradient(top, #fff 0, #fcfdfd 4%, #f2f3f3 11%, #f2f3f3 95%, #e8e9e9 100%);
  background: linear-gradient(top, #fff 0, #fcfdfd 4%, #f2f3f3 11%, #f2f3f3 95%, #e8e9e9 100%);
  text-shadow: 0 1px 0 white;
  color: #756e69
}

/********************************/
/*        Merchant Section      */
/********************************/
.cover-banner{
  width: 100%;
  border: solid 1px #ccc;
  padding: 2px;
  background: white;
  margin-bottom: 10px;
  float: left;
}
.cover-banner img{
  width: 100%;
}

/********************************/
/*          Custom Section      */
/********************************/
.breadcrumb{
  margin-bottom: 0;
  border-radius: 0!important;
}
.breadcrumb a{
  color: #000;
}
section{
  width: 100%;
  float: left;
  padding: 40px 0;

  h1{
    text-align: center;
    color: #499bea;
    font-size: 30px;
    letter-spacing: 0.3px;
    font-weight: normal;
  }
  .desc-section{
    text-align: center;
    margin-bottom: 30px;
    margin: auto;
    display: table;
  }
}
section.section-carousel{
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
section.grey{
  background: #f7f7f7;
  border-top: 1px solid #e4e4e4;
}
section.gradient-grey{
  background: #efefeb;
}
section.wallpaper{
  background-image: url("/assets/bg_pattern.png");
  border-bottom: solid 2px #499bea;
}
.title-content-product{
  font-size: 14px;
  float: right;
  padding: 4px;
}


/********************************/
/*    Pinterest Grid Plugin     */
/********************************/

.list-product-grid {
  position: relative;
  max-width: 100%;
  width: 100%;
  margin-top: 40px;
  float: left;

  article{
    width: 33.3%;
    height: 360px;
    float: left;
    background: white;
    text-align: center;
    overflow: hidden;
    position: relative;

    .cover{
      border: solid 1px #e1e1e1;
      width: 100%;
      overflow: hidden;
      .disc{
        background: red;
        border-radius: 50%;
        color: white;
        font-size: 14px;
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 10px 5px 5px 5px;
        height: 40px;
        width: 40px;
        text-align: center;
      }
      img{
        width: 100%;
        -webkit-transition: all 1s ease; /* Safari and Chrome */
        -moz-transition: all 1s ease; /* Firefox */
        -ms-transition: all 1s ease; /* IE 9 */
        -o-transition: all 1s ease; /* Opera */
        transition: all 1s ease;
      }
      img:hover{
        -webkit-transform:scale(1.25); /* Safari and Chrome */
          -moz-transform:scale(1.25); /* Firefox */
          -ms-transform:scale(1.25); /* IE 9 */
          -o-transform:scale(1.25); /* Opera */
           transform:scale(1.25);
      }
      .avatar {
        position: absolute;
        bottom: 55px;
        left: -5px;
        margin-left: 10px;
        margin-right: 10px;
      }
      .avatar img {
        width: 60px;
        height: 60px;
        max-width: 60px;
        max-height: 60px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 5px solid rgba(255,255,255,0.5);
        cursor: pointer;
        vertical-align: 0;
      }
      .section-whistlist{
        position: absolute;
        top: 5px;
        right: 0px;
      }
      .status-whistlist i{
        font-size: 25px;
        cursor: pointer;
        display: none;
      }
      .status-whistlist i.active{
        color: red;
        display: block;
      }
    }
    h4{
      font-weight: 300;
      font-size: 13px;
      margin-bottom: 10px;
      a{
        color: #555;
      }
    }
    span.category{
      float: left;
      color: #B2B2B2;
      font-weight: 200;
      font-size: 12px;
    }
    span.price{
      color: #78C042;
      font-size: 13px;
      font-weight: 400;
      padding: 5px;
    }
    span.basic_price{
      color: red;
      font-size: 13px;
      font-weight: 400;
      text-decoration: line-through;
      padding: 5px;
    }
    .content-bottom{
      background: #f5f5f5;
      margin-top: 10px;
      padding: 4px;
      font-size: 20px;
      font-weight: normal;
      color: #1fb4da;
    }
  }
  article:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
.list-product-grid{
  margin-top: 0!important;

  h6{
    font-size: 12px;
    font-weight: normal;
  }
  a{
    color: #333;
  }
  span{
    font-size: 12px;
  }
}

/********************************/
/*        Social Content        */
/********************************/
.follow-us{
  a {
    color: #ffffff;
    width: 34px;
    height: 34px;
    margin-right: 9px;
    font-size: 18px;
    padding: 6px;
    transition: opacity 0.4s;
  }
  .site-facebook {
    background: #3a599c;
  }
  .site-twitter {
    background: #4b91ce;
  }
  .site-google-plus {
    background: #dd4b39;
  }
}


/********************************/
/*        Devise Content        */
/********************************/
.form-devise{
  .btn-primary-fb {
    color: #fff;
    background-color: #3a599c;
    border-color: #357ebd;
    min-width: 100%;
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 10px;
  }
  .btn-primary-fb:hover{
    opacity: 0.9;
    color: #fff;
  }
  .omb-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    display: block;
  }
  .omb-span {
    display: block;
    position: absolute;
    left: 50%;
    top: -0.6em;
    margin-left: -1.5em;
    background-color: white;
    width: 3em;
    text-align: center;
    font-size: 1.5em;
    color: #aaa;
  }
  .form-group {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
  }
  form{
    background: #fff;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.05);
  }
  .controls{
    margin-top: 10px;
  }
  .remember{
    margin-right: 5px;
  }
}
.modal-content h3{
  margin: 0;
}
.btn-primary-fb {
  color: #fff;
  background-color: #3a599c;
  border-color: #357ebd;
  min-width: 100%;
  background-repeat: no-repeat;
  background-position: left;
}
.btn-primary-fb:hover{
  opacity: 0.9;
  color: #fff;
}
.or-section{
  margin: 10px 0 15px 0;
}
.omb-or {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  display: block;
}
.omb-span {
  display: block;
  position: absolute;
  left: 50%;
  top: -0.6em;
  margin-left: -1.5em;
  background-color: white;
  width: 3em;
  text-align: center;
  font-size: 1.5em;
  color: #aaa;
}
.form-devise .form-group {
  float: left;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
}
.form-devise form{
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.05);
}
.form-devise .controls{
  margin-top: 10px;
}

/********************************/
/*       User Theme Costum      */
/********************************/
.section-menu-user{
  width: 100%;
  float: left;
  ul{
    list-style: none;
    padding-left: 0;
    a{
      float: left;
      padding: 10px 20px;
      border-bottom: solid 2px #fff;
      text-decoration: none;
      color: #333;
    }
    a:hover{
      border-bottom: solid 2px #4ca0ba;
    }
    a.active{
      border-bottom: solid 2px #4ca0ba;
    }
  }
}
.page-body {
  width: 100%;
  background: #fff;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 14px;
  float: left;
  .section-pic{
    border: solid 1px #ddd;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
  }
}
.list-our-product{
  float: left;
  width: 100%;
  background: #fff;
  margin-bottom: 10px;
  border: solid 1px #e4e4e4;
  padding: 15px 0;
  h4{
    margin-top: 0;
    margin-bottom: 5px;
    a{
      color: #555;
    }
    a.btn{
      color: #fff;
    }
  }
  .price{
    color: #78c042;
  }
  .basic_price{
    color: red;
    text-decoration: line-through;
    padding-left: 5px;
  }
  .category{
    color: #b2b2b2;
    font-weight: 200;
    font-size: 11px;
  }
  .cover{
    width: 100%;
    border: solid 1px #e4e4e4;
    overflow: hidden;
    height: 100px;
    img{
      width: 100%;
    }
  }
}
.choice-gallery-form{
  list-style: none;
  padding-left: 0;
  li{
    width: 16.6%;
    float: left;
    border: solid 1px #ccc;
    padding: 2px;
    height: 100px;
    position: relative;
  }
  img{
    width: 100%;
    height: 100%;
  }
  .input-file{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    cursor: pointer;
    opacity: 0.0;
  }
  li.overview{
    width: 50%!important;
    height: 120px!important;
    position: relative;
  }
  li.overview span{
    position: absolute;
    color: #fff;
    font-weight: bold;
    top: 5px;
    left: 5px;
    font-size: 14px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  }
}
.change-image-avatar{
  opacity: 0.0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  cursor: pointer;
}
.user-image-cycle{
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: solid 4px #ccc;
  width: 150px;
  height: 150px;
  position: relative;
  img{
    width: 100%;
  }
}
.cover-img{
  width: 100%;
  height: 200px;
  overflow: hidden;
  img{
    width: 100%;
  }
}
.modal-content-message{
  width: 400px;
  .modal-contact-form{
    .form-group{
      margin-bottom: 10px;
    }
  }
}
.select-birthday{
  width: 33%;
  float: left;
}
.panel-default > .panel-heading{
  background: #fff;
}
.select2-container--default .select2-selection--single{
  border: solid 1px #ccc!important;
}
.select2-container{
  width: 100%!important;
}
.select2-selection{
  height: 34px!important;
}
.banner{
  height: 300px;
  width: 100%;
  overflow: hidden;
  border: solid 1px #ccc;
  img{
    width: 100%;
  }
}
.section_count{
  text-align: center;
  .page-body{
    font-size: 18px;
  }
  i{
    font-size: 40px;
  }
  small{
    color: #aaa;
    font-size: 11px;
  }
}

.panel{
  width: 100%;
  float: left;
  .panel-heading{
    width: 100%;
    float: left;
  }
  .panel-collapse{
    float: left;
    width: 100%;
  }
}

.buttons .btn{
  margin-top: 10px;
}

/********************************/
/*           Nav Tabs           */
/********************************/
.nav-tabs > li > a{
  background: #f4f4f4;
}

/********************************/
/*        Invoice Costum        */
/********************************/
.shopping-cart{
  .panel-default{
    margin-bottom: 10px;
    background-color: rgba(255,255,255,0.6);
  }
  .avatar-author{
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
  }
  .title-product{
    float: left;
  }
  .input-quantity{
    width: 50px;
    margin-bottom: 2px;
  }
}

.shipping-logo{
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
}
.bank-logo{
  height: 20px;
  margin-left: 5px;
}
.bank-logo-big{
  height: 60px;
  margin-right: 15px;
}
.shipping-price{
  float: right;
  font-weight: bold;
  padding: 15px 0;
}
hr{
  margin-top: 10px;
  margin-bottom: 10px;
}
.note{
  color: red;
  font-style: italic;
}
.paymentTo{
  display: none;
}
table, table tr td{
  border: solid 1px #ddd;
  font-size: 12px;
}
.estimation{
  padding: 6px;
  font-weight: bold;
}

/********************************/
/*        Modal Custom          */
/********************************/
.modal-contact{
  textarea{
    height: 80px;
  }
  .modal-header-info{
    background: #499bea;
    color: white;
  }
}

/********************************/
/*     Search Simple Custom     */
/********************************/
.simple-search{
  button{
    width: 100%;
  }
  .col-md-6, .col-md-4{
    padding-right: 0;
  }
}

.panel-collapse{
  table, table tr td{
    border: 0;
    font-size: 12px;
  }
}

/* contact */
.maps{
  width: 100%;
  height: 400px;
  padding-top: 0;
}

.information-contact{
  .panel{
    border: solid 3px #f5f5f5;
    padding: 15px;
    padding-bottom: 20px;
    padding-top: 20px;
    h3{
      margin-top: 0;
    }
    textarea{
      height: 100px;
    }
  }
}

/********************************/
/*        Timeline Custom       */
/********************************/
.timeline-profil {
  width: 100%;
  padding: 15px;
  overflow: hidden;
  background-color: white;
  h3 {
    text-align: center;
    margin-bottom: 20px;
  }
}
.message-item {
  margin-bottom: 25px;
  margin-left: 40px;
  position: relative;
}
.message-item .message-inner {
  background: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px;
  position: relative;
}
.message-item .message-inner:before {
  border-right: 10px solid #ddd;
  border-style: solid;
  border-width: 10px;
  color: rgba(0,0,0,0);
  content: "";
  display: block;
  height: 0;
  position: absolute;
  left: -20px;
  top: 6px;
  width: 0;
}
.message-item .message-inner:after {
  border-right: 10px solid #f5f5f5;
  border-style: solid;
  border-width: 10px;
  color: rgba(0,0,0,0);
  content: "";
  display: block;
  height: 0;
  position: absolute;
  left: -18px;
  top: 6px;
  width: 0;
}
.message-item:before {
  background: #499bea;
  border-radius: 2px;
  bottom: -30px;
  /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); */
  content: "";
  height: 100%;
  left: -30px;
  position: absolute;
  width: 2px;
}
.message-item:after {
  background: #499bea;
  border: 2px solid #499bea;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  content: "";
  height: 15px;
  left: -36px;
  position: absolute;
  top: 10px;
  width: 15px;
}
.message-item:hover:after {
  background: white;
  border: 2px solid #499bea;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  content: "";
  height: 15px;
  left: -36px;
  position: absolute;
  top: 10px;
  width: 15px;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.message-item .message-head {

  padding-bottom: 8px;
}
.message-item .message-head .avatar {
  margin-right: 20px;
}
.message-item .message-head .user-detail {
  overflow: hidden;
}
.message-item .message-head .user-detail h5 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.message-item .message-head .post-meta {
  float: left;
  padding: 0 15px 0 0;
}
.message-item .message-head .post-meta >div {
  color: #333;
  font-weight: bold;
  text-align: right;
}
.post-meta > div {
  color: #777;
  font-size: 12px;
  line-height: 22px;
}
.message-item .message-head .post-meta >div {
  color: #333;
  font-weight: bold;
  text-align: right;
}
.post-meta > div {
  color: #777;
  font-size: 12px;
  line-height: 22px;
}
.asker-meta {
  text-align: left!important;
}
