/*Responsive By Fathan Rohman*/

@media screen and (max-width: 1024px) {
  #top-navigation .navbar-brand h1 {
    font-size: 20px;
  }

  #top-navigation .navbar-brand h1 {
      margin-top: 7px;
  }

  .mgbt-10{
    margin-bottom: 10px;
  }

  .mgtp-10{
    margin-top: 10px;
  }
}

@media screen and (max-width: 950px) {
  #top-navigation .navbar-brand h1 {
    font-size: 20px;
  }

  #top-navigation .navbar-brand h1 {
      margin-top: 7px;
  }

  .login-reg-actions{
    margin: auto;
    display: table;
  }
}

@media screen and (max-width: 850px) {
  #top-navigation .navbar-brand h1 {
    font-size: 20px;
  }

  #top-navigation .navbar-brand h1 {
      margin-top: 7px;
  }

  .featured-section .item{
    height: 80px;
  }
}

@media screen and (max-width: 768px) {
  .top_info{
    font-size: 10px;
  }

  .top_info{
    float: none;
    margin: auto;
    display: table;
    width: 100%;
  }

  .top_info li a{
    width: 33.3%;
    padding: 6px;
  }

  #top-navigation .navbar-nav {
    float: none;
  }

  .main-text h1{
    font-size: 20px;
  }

  .main-text p{
    font-size: 12px;
  }

  .btn-create-sell {
    margin-bottom: 0px;
    font-size: 10px;
    padding: 4px 15px;
  }

  #top-navigation .navbar-brand h1 {
    font-size: 25px;
  }

  section h1{
    font-size: 20px;
  }

  section .desc-section{
    font-size: 15px;
  }

  .service .info h4{
    font-size: 12px;
  }

  .featured-section .item{
    height: 80px;
  }

  .list-our-product .cover{
    margin-bottom: 20px;
  }

  .list-our-product .cover{
    height: 400px;
  }
}

@media screen and (max-width: 650px) {
  .top_info{
    font-size: 10px;
  }

  #top-navigation .navbar-nav {
    float: none;
  }

  #top-navigation .navbar-nav > li > a{
    padding: 10px;
  }

  .main-text h1{
    font-size: 17px;
  }

  .main-text p{
    font-size: 12px;
  }

  .btn-create-sell {
    margin-bottom: 0px;
    font-size: 10px;
    padding: 4px 15px;
  }

  #top-navigation .navbar-brand h1 {
    font-size: 25px;
  }

  .section-menu-user ul a{
    width: 100%;
  }

  .header-search .form{
    width: 100%;
  }

  section h1{
    font-size: 20px;
  }

  section .desc-section{
    font-size: 15px;
  }

  .service .info h4{
    font-size: 12px;
  }

  .featured-section .item{
    height: 75px;
  }
}

@media screen and (max-width: 550px) {
  h2, .h2{
    font-size: 20px;
  }

  .top_info{
    font-size: 10px;
  }

  #top-navigation .navbar-nav {
    float: none;
  }

  .main-text h1{
    font-size: 12px;
  }

  .main-text p{
    font-size: 12px;
  }

  .btn-create-sell {
    margin-bottom: 0px;
    font-size: 10px;
    padding: 4px 15px;
  }

  #top-navigation .navbar-brand h1 {
    font-size: 25px;
  }

  section h1{
    font-size: 20px;
  }

  section .desc-section{
    font-size: 15px;
  }

  .service .info h4{
    font-size: 12px;
  }

  .featured-section{
    margin: auto;
    display: table;
    float: none;
    margin-top: 40px;
    .author-item{
      width: 20%;
    }
  }

  .featured-section .item{
    height: 75px;
  }
}

@media screen and (max-width: 450px) {
  .top_info{
    font-size: 8px;
  }

  .position-desc-top-info{
    text-align:left;
  }

  #top-navigation .navbar-nav {
    float: none;
  }

  .main-text {
    top: 25%;
  }

  .main-text h1{
    font-size: 12px;
  }

  .main-text p{
    display: none;
  }

  .btn-create-sell {
    margin-bottom: 0px;
    font-size: 10px;
    padding: 4px 15px;
  }

  #top-navigation .navbar-brand h1 {
    font-size: 25px;
  }

  section h1{
    font-size: 20px;
  }

  section .desc-section{
    font-size: 15px;
  }

  .service .info h4{
    font-size: 12px;
  }

  .featured-section .item{
    height: 70px;
  }

  .list-our-product .cover{
    height: 200px;
  }
}

@media screen and (max-width: 350px) {
  .top_info{
    font-size: 6px;
  }

  .top-bar .login-reg-actions .btn{
    font-size: 9px;
  }

  .top-bar .cart-btn .fa{
    font-size: 12px;
  }

  .position-desc-top-info{
    left:2%;
    text-align:left;
  }

  #top-navigation .navbar-nav {
    float: none;
  }

  .main-text {
    top: 15%;
  }

  .main-text h1{
    font-size: 12px;
  }

  .main-text p{
    font-size: 10px;
  }

  .btn-create-sell {
    margin-bottom: 0px;
    font-size: 10px;
    padding: 4px 15px;
  }

  #top-navigation .navbar-brand h1 {
    font-size: 25px;
  }

  section h1{
    font-size: 20px;
  }

  section .desc-section{
    font-size: 15px;
  }

  .service .info h4{
    font-size: 12px;
  }

  .copyright .follow-us{
    float: left;
  }

  .featured-section{
    float: left;
    margin-top: 20px;
  }

  .title-top-confirmation{
    font-size: 20px;
  }

  .p-confirmation{
    font-size: 15px;
    text-align: justify;
  }

  .header-search h4{
    font-size: 15px;
  }

  .header-search .form{
    width: 100%;
    padding: 5px;
    border-radius: 10px;
  }

  .h-category-shop{
    font-size: 12px;
  }

  .simple-top-search .layout-slider{
    margin-bottom: 20px;
  }

  .featured-section .item{
    height: 55px;
  }

  .list-our-product h4{
    margin-top: 10px;
  }

  .list-our-product .category{
    margin-top: 10px;
  }
}

