section
  .container
    .col-xs-12
      h2.text-center.title-top-confirmation
        | Payment Confirmation
      .break
      .break
      .col-md-6
        .break
        p.p-confirmation
          | Jika anda sudah melakukan pembayaran melalui salah satu bank kami, silahkan melakukan konfirmasi pembayaran melalui form di samping kanan ini. Proses konfirmasi pembayaran akan mempercepat pengaktifan pemesanan anda.
        .break

        p.p-confirmation
          b Dibawah ini adalah informasi rekening bank yang kami miliki :

        - @setting.payments.each do |p|
          .panel.panel-default
            .panel-body
              = image_tag p.logo.url, class: 'bank-logo'
              | &nbsp; #{p.bank_name} &nbsp; An. #{p.name} &nbsp; #{p.account_number}

        p.p-confirmation Informasi Jadwal Offline Internet Banking :
        .break

        div
          | <b>BCA</b> <br>Senin-Jumat = 21:30 s.d 00:30 <br>Sabtu-Minggu = 18:00 s.d 20:00
        .break
        .break

        div
          | <b>Mandiri</b> <br>Senin-Minggu = 23:00 s.d 03:00
        .break
        .break

        div
          | <b>BNI</b> <br>Senin-Minggu = 23:00 s.d 03:00
        .break
        .break

        div
          | <b>BRI</b> <br>Senin-Minggu = 23:00 s.d 03:00
        .break
        .break

        p
          | <b>Catatan :</b>
        p Untuk transaksi pada saat error mutasi atau jam offline Internet Banking, silahkan hubungi CS kami atau segera lakukan konfirmasi pembayaran dengan menyertakan atau mengupload screenshot/bukti pembayaran untuk dapat kami proses.

      .col-md-6
        h4 align='center' Form Payment Confirmation
        hr
        .break

        .col-md-12
          .row
            = form_for @confirmation, url: confirmations_path, method: 'post' do |f|
              label Invoice No :
              .form-group
                = f.text_field :no_invoice, class: 'form-control', required: true, placeholder: 'Invoice No'
              label Full Name :
              .form-group
                = f.text_field :name, class: 'form-control', required: true, placeholder: 'Your Name'
              label Email :
              .form-group
                = f.email_field :email, class: 'form-control', required: true, placeholder: 'Your Email'
              label Payment Date :
              .form-group
                = f.text_field :payment_date, class: 'form-control datepicker', required: true
              label Total Payment :
              .form-group
                = f.text_field :nominal, class: 'form-control', required: true, placeholder: 'Total Payment', data: {autonumeric: true}
              label Purpose Bank :
              .form-group
                = f.select :bank_account, @setting.payments.map{|p| "#{p.bank_name} An. #{p.name} #{p.account_number}"}, {prompt: 'Select Account'}, {class: 'form-control', required: true}
              label Payment Method :
              .form-group
                = f.select :payment_method, ['Internet Banking', 'SMS Banking','ATM Transfer','Setoran Tunai'], {prompt: 'Select Method'}, {class: 'form-control', required: true}
              label Sender Name :
              .form-group
                = f.text_field :sender_name, class: 'form-control', required: true, placeholder: 'Sender Name'
              label Message :
              .form-group
                = f.text_area :message, class: 'form-control', required: true, placeholder: 'Message for admin'
              .form-group
                - if current_user
                  = f.submit 'SUBMIT', class: 'btn btn-success'
                - else
                  a href="#signin" class= "btn btn-success" data-toggle="modal" data-target=".bs-modal-sm" SUBMIT



