.row
  .col-md-2
    h6 Logo
    .user
      = image_tag f.object.logo.url(:medium), style: 'width: 200px'
    = f.file_field :logo
    
  .col-md-4
    h6 Name
    = f.text_field :name, class: 'form-control', required: true
