.col-md-12
  = form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do
    .widget
      = render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Brands', button_name: 'Brands', add_method: true}
      .widget-content
        .table-responsive
          table class="table table-striped table-bordered table-hover"
            thead
              tr
                th width="1%" #
                th width="20%" Logo
                th Brand Name
                th width="10%" Action
            tbody
              - @collection.each_with_index do |resource, index|
                tr
                  td = check_box_tag "ids[]", resource.id
                  td
                    = image_tag resource.logo.url(:thumb)
                  td.uppercase
                    = link_to "#{resource.name}", edit_resource_path(resource)
                  td
                    = render partial: 'backend/shareds/prepare_action',
                      locals: { resource: resource, confirmation: "Are you sure delete this #{resource.id}", no_show: false }
        .widget-foot
          .pull-right
            = paginate @collection
          .clearfix