.btn-primary-fb {
  color: #fff;
  background-color: #3a599c;
  border-color: #357ebd;
  min-width: 100%;
  background-repeat: no-repeat;
  background-position: left;
}
.btn-primary-fb:hover{
  opacity: 0.9;
  color: #fff;
}
.omb-or {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  display: block;
}
.omb-span {
  display: block;
  position: absolute;
  left: 50%;
  top: -0.6em;
  margin-left: -1.5em;
  background-color: white;
  width: 3em;
  text-align: center;
  font-size: 1.5em;
  color: #aaa;
}
.form-devise .form-group {
  float: left;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
}
.form-devise form{
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.05);
}
.form-devise .controls{
  margin-top: 10px;
}
