.page-body
  .row
    .col-md-12
      .row
        = form_for :search, url: collection_path, html: {class: 'simple-search'}, method: 'get'
          .col-md-12
            small Find Results <b> #{collection.size} </b>
    .col-md-6
      = text_field_tag :key, nil, value: params[:key], class: 'form-control mgbt-10', placeholder: 'keywords..'
    .col-md-4
      = select_tag :order_status_id, options_for_select(PaymentStatus.to_a, params[:order_status_id]), prompt: 'Choice Status', class: 'select2 form-control'
    .col-md-2
        button class="btn btn-info mgtp-10" type="submit" Search
  .break
  .table-responsive
    table class="table table-striped table-bordered table-hover"
      thead
        tr
          th width="10%" Invoice
          th width="15%" payerID
          th width="15%" Payment
          th width="20%" Shipping Order
          th width="20%" Total
          th width="25%" Order At
      tbody
        - @collection.each_with_index do |resource, index|
          tr
            td.uppercase
              small
                = link_to "#{resource.code}", resource_path(resource)
            td
              small
                = resource.payerID
            td
              = resource.status?
            td
              = resource.try(:track_order)
            td
              small.green
                b
                  = get_currency(resource.total) if resource.total.present?
            td
              small
                = resource.try(:created_at).strftime("%H:%M %B, %d, %Y")
  .widget-foot
    = paginate @collection
