section.wallpaper
  .container
    .row
      .col-md-6.col-xs-12
        .col-xs-2.avatar-author
          = image_tag @user.try(:profile).try(:avatar).url(:medium)
        .col-xs-10
          p
            h3.brand-shop
              = link_to @user.try(:profile).try(:full_name), user_path(@user), target: '_blank'
            - if current_user.present?
              = link_to '<i class="fa fa-heart"></i> Favorite Shop'.html_safe, wishlist_favorites_path(id: @user.id, type: 'User'), method: 'get', class: "btn btn-default"
            - else
              | <a href="#signin" class= "btn btn-default" data-toggle="modal" data-target=".bs-modal-sm"> <i class="fa fa-heart"></i> Favorite Shop</a>
      .col-md-6.col-xs-12
        .row
          .featured-section
            - @user_products.each do |resource|
              div class="col-xs-2 author-item pull-right" data-toggle="popover" title="#{resource.title}"
                .tooltips-content
                  .tooltips-image
                    = image_tag resource.try(:galleries).try(:first).try(:file).url(:small)
                  .tooltips-tag
                    = resource.try(:category).try(:name)
                  span.tooltips-price
                    = get_currency(resource.price) if resource.price.present?
                = link_to product_path(resource), class: "item" do
                  = image_tag resource.try(:galleries).try(:first).try(:file).url(:thumb)
        .pull-right
          | Other Products 
          = link_to @user.try(:profile).try(:full_name), user_path(@user)
