.row
  .col-xs-12
    h3.title
      = @product.title
      - if current_user
        = link_to "#{@product.score} Like <i class='fa fa-thumbs-up'></i>".html_safe, upvote_product_path(@product), class: "btn btn-info pull-right btn-xs"
      - else
        a href="#signin" class= "btn btn-info pull-right btn-xs" data-toggle="modal" data-target=".bs-modal-sm"
          = @product.score
          | &nbsp; Like <i class='fa fa-thumbs-up'></i>
    small
      | Product Code : 
      b = @product.code
    hr
      span Bagikan :
      | <span class='st_sharethis' displayText='ShareThis'></span><span class='st_facebook' displayText='Facebook'></span><span class='st_twitter' displayText='Tweet'></span><span class='st_linkedin' displayText='LinkedIn'></span><span class='st_pinterest' displayText='Pinterest'></span><span class='st_email' displayText='Email'></span>
    hr
  .col-xs-12.col-md-6
    .slider
      #slider-product.flexslider
        ul.slides
          - @product.galleries.each do |g|
            li
              = image_tag g.file.url(:large), 'data-sgallery' => 'OSHOP', title: 'YOUR TITLE', 'data-full' => "#{ g.file.url(:large) }", 'data-toggle' => 'magnify', 'data-thumb' => "#{ g.file.url(:large) }"

      #carousel-product.flexslider
        ul.slides
          - @product.galleries.each do |g|
            li
              = image_tag g.file.url(:small), 'data-sgallery' => 'OSHOP', title: 'YOUR TITLE', 'data-full' => "#{ g.file.url(:large) }", 'data-thumb' => "#{ g.file.url(:large) }"
  .col-xs-12.col-md-6
    = render 'shareds/products/item_detail'
  .col-xs-12
    .break
    ul class="nav nav-tabs" role="tablist"
      li role="presentation" class="active"
        a href="#review" aria-controls="review" role="tab" data-toggle="tab"
          | Comments & Reviews
      li role="presentation"
        a href="#shipping" aria-controls="shipping" role="tab" data-toggle="tab"
          | Shipping & Policies
    .tab-content
      div role="tabpanel" class="tab-pane active" id="review"
        = render 'shareds/products/review'
      div role="tabpanel" class="tab-pane" id="shipping"
        = render 'shareds/products/policies'
