section style='padding:0;'
  .container
    .col-md-12
      - @categories.each do |c|
        .h-panel-category-latest-products
          = c.name
          small
            = link_to 'SEE ALL', products_path, class: 'pull-right'
        .panel-category-latest-products
          .row
            .col-md-4
              = image_tag c.cover_image.url, class: 'cover_image'
            .col-md-8
              .list-product-grid
                - Product.featured.verify.latest.limit(8).each do |resource|
                  = render 'products/product', resource: resource