- merchant_info = @setting.try(:faq)
#shop-policies
  h4
    | Policies
  hr
  .row
    .policy-row.payment
      .col-md-4
        h5 Payment
      .col-md-8
        | <p>#{merchant_info.payment.html_safe if merchant_info.payment.present?}</p><br>
    .policy-row.shipping
      .col-md-4
        h5 Shipping
      .col-md-8
        | <p>#{merchant_info.shipping.html_safe if merchant_info.shipping.present?}</p><br>
    .policy-row.refunds
      .col-md-4
        h5
          | Refunds and Exchanges
      .col-md-8
        | <p>#{merchant_info.refund_and_exchange.html_safe if merchant_info.refund_and_exchange.present?}</p><br>
    .policy-row.additional
      .col-md-4
        h5
          | Additional Policies and FAQs
      .col-md-8
        | <p>#{merchant_info.faq.html_safe if merchant_info.faq.present?}</p><br>
