- @product_spec = @product.try(:product_spec)
= form_for @order_item, remote: true do |f|
  .side-purchase.sidebar-show
    .row
      .col-xs-12
        small.color-grey
          | Updated:
          = @product.updated_at.strftime("%B, %d, %Y")
        .btn.btn-default.pull-right.btn-xs.btn-question-chat data-toggle="modal" data-target="#myModal" Ask a Question
        hr
      .col-xs-12
        span.price-lg
          = get_currency(@product.price) if @product.price.present?
        span.basic-price-lg
          = get_currency(@product.basic_price) if @product.basic_price.present?
      .break
      .col-md-12
        .row
          .available
            .col-xs-12
              span
                | Available Stock: <br>
                - if @product_spec.stock > 0
                  | <a href="#"> #{@product_spec.try(:stock)} items</a>
                - else
                  .indent Not Available

        .break
        h5 Overview
        ul.properties
          li
            span
              = @product_spec.information.html_safe if @product_spec.information.present?
          li
            | Materials: 
            | <span>#{@product_spec.material}</span>
          li
            | Have Seen: 
            | <a href="#">#{@product.impressionist_count} people</a>
          li
            | Feedback: 
            | <a href="#">#{@comments_size} comments & reviews</a>
          li
            | Favorited by: 
            | <a href="#">#{@favorites_size} people</a>
        p
          | To purchase this item please click the order button below, the total price includes the price of the goods and the cost of the buyer.
        - if current_user.present?
          - unless @check_order.present?
            - if @product_spec.stock < 1 
              button class="btn btn-default btn-lg full-width" Not Available To Buy
            - else
              .form-order
                .purchase-form-button
                  = f.hidden_field :product_id, value: @product.id
                  = f.hidden_field :weight, value: @product.weight, step: 'any'
                  button class= "btn btn-danger btn-lg full-width" type="submit"
                    | <i class='fa fa-cart-plus'></i> Buy
          - else
            = render "shareds/already_order"
        - else
          - if @product_spec.stock < 1
            button class="btn btn-default btn-lg full-width" Not Available To Buy
          - else
            a href="#signin" class= "btn btn-danger btn-lg full-width" data-toggle="modal" data-target=".bs-modal-sm"
              | <i class="fa fa-cart-plus"></i> Buy

    - if current_user
      .break
      = link_to '<i class="fa fa-star"></i> Add To Wishlist'.html_safe, wishlist_favorites_path(id: @product.id, type: @product.class), method: 'get', class: "btn btn-default full-width"
    - else
      .break
      a href="#signin" class= "btn btn-default full-width" data-toggle="modal" data-target=".bs-modal-sm"
        | <i class="fa fa-star"></i> Add To Wishlist

= render "shareds/form_contact"









