.h-category-shop
  | SHOP CATEGORY <i class="fa fa-angle-down"></i>
.form-side-search
  .side-search-filter-choice
    .row
      .col-md-12
        - @categories.each_with_index do |resource, index|
          div id="accordion"
            a class="panel-accords" data-toggle="collapse" data-parent="#accordion" href="#collapse_#{index+1}"
              = resource.name.titleize
              i class="fa fa-angle-down pull-right"
            div id="collapse_#{index+1}" class="panel-collapse collapse in"
              table class="table"
                - resource.children.oldest.each do |child|
                  tr
                    td
                      = link_to "#{'<i class="fa fa-check"></i>'.html_safe if params[:category] == child.name} #{child.name} <span class='pull-right'>#{child.products.size}</span>".html_safe,
                              products_path(params.merge(category: child.name)),
                              method: 'get', class: "#{'strong' if params[:category] == child.name}"
br
.h-category-shop
  | BY BRAND <i class="fa fa-angle-down"></i>
.form-side-search
  .side-search-filter-choice
    .row
      .col-md-12
        div id="accordion"
          a class="panel-accords" data-toggle="collapse" data-parent="#accordion" href="#collapse_brand"
            | Select Brand
            i class="fa fa-angle-down pull-right"
          div id="collapse_brand" class="panel-collapse collapse #{'in' if params[:brand].present?}"
            table class="table"
              - @brands.each_with_index do |resource, index|
                tr
                  td
                    = link_to "#{'<i class="fa fa-check"></i>'.html_safe if params[:brand] == resource.name} #{resource.name} <span class='pull-right'>#{resource.products.size}</span>".html_safe,
                            products_path(params.merge(brand: resource.name)),
                            method: 'get', class: "#{'strong' if params[:brand] == resource.name}"

