= form_for :search, url: products_path(params), method: 'get' do
  .col-md-12
    .simple-top-search
      .row
        .col-md-8
          .layout-slider
            - start_price = @start_price ? '5000' : params[:price_range].split(";")[0] rescue '5000'
            - end_price = @end_price ? '50000' : params[:price_range].split(";")[1] rescue '50000'
            = text_field_tag :price_range, "#{start_price};#{end_price}", id: "Slider2", type: "slider"
        .col-md-4
          .input-group
            - value_sort_by = params[:sort_by].present? ? params[:sort_by] : ''
            = select_tag :sort_by, options_for_select(sort_by, value_sort_by), prompt: 'Sort By', class: 'form-control'
            .input-group-btn
              button class="btn btn-info" type="submit"
                | <i class="fa fa-search"></i></button>