section.section-service
  .container
    .row.service
      .col-xs-12.col-sm-6.col-md-4
        .box
          .box-icon
            span class="fa fa-4x fa-shopping-cart"
          .info
            h4.text-center EASY TRANSACTION
            p Anywhere and anytime Transaction 24 hours
      .col-xs-12.col-sm-6.col-md-4
        .box
          .box-icon
            span class="fa fa-4x fa-truck"
          .info
            h4.text-center EASY SHOOPING
            p Do not bother to bring items from store Cooperate with reliable courier
      .col-xs-12.col-sm-6.col-md-4
        .box
          .box-icon
            span class="fa fa-4x fa-money"
          .info
            h4.text-center MONEY SAVING
            p Competitive price Discounts and promo every time