- if @featured_products.present?
  section.section-latest-featured
    .container
      .col-md-12
        .h-panel-category-latest-products
          | FEATURED PRODUCTS
          small
            = link_to 'SEE ALL', products_path, class: 'pull-right'
        .panel-category-latest-products-stick
          .responsive-slick.list-product-grid
            - @featured_products.limit(20).each do |resource|
              article
                .cover
                  = image_tag resource.try(:galleries).try(:first).try(:file).url(:medium)
                  .disc
                    = resource.discount?
                  .section-whistlist
                    - if current_user.present?
                      span.status-whistlist
                        = checking_wishlist(resource.id, current_user.id, wishlist_favorites_path(id: resource.id, type: resource.class)).html_safe
                h4
                  = link_to "#{resource.title}", product_path(resource)
                .col-xs-12
                  span.price
                    = get_currency(resource.price) if resource.price.present?
                  span.basic_price
                    = get_currency(resource.basic_price) if resource.basic_price.present?