section
  .container
    .col-md-3
      = render 'shareds/products/side_search'
    .col-md-9
      .row
        = render 'shareds/products/simple_search'
        .col-md-3.breadcrumb
          = render_breadcrumbs
        .col-md-9
          span.title-content-product
            | <b>#{@product_all.size}</b> Results Items
      = render 'shareds/products/list_products'