section
  .container
    .col-md-12.breadcrumb
      = render_breadcrumbs
    .col-md-8
      = render 'shareds/products/detail'
    .col-md-4
      = render 'shareds/products/side_product'
= render 'shareds/form_contact'
