doctype html
html
  head
    = render 'shareds/setting'
    | <script type="text/javascript">var switchTo5x=true;</script>
    | <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    | <script type="text/javascript">stLight.options({publisher: "85a5e2b6-1198-48e4-8cea-a5291ba2d1a6", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
    = stylesheet_link_tag 'application'
    = csrf_meta_tags

  body
    = flash_messages
  	= render 'shareds/top_menu'
  	= render 'shareds/carousel' if params[:action] == 'home'
    = yield
    = render 'shareds/footer'
	= javascript_include_tag 'application'
  
  - if params[:controller] == 'guest_books' || params[:action] == 'home'
    script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"
    = render 'shareds/gmap_js'
