doctype html
html
  head
    = render 'shareds/setting'
    = stylesheet_link_tag 'backend'
    = csrf_meta_tags

  body
    = render 'backend/shareds/header'
    .content
      = render 'backend/shareds/sidebar'
      .mainbar
        = render 'backend/shareds/breadcrumb'
        .matter
          = yield
        .clearfix
    = render 'backend/shareds/footer'
  = javascript_include_tag 'backend'
