doctype html
html
  head
    = render 'shareds/setting'
    = stylesheet_link_tag 'application'
    = csrf_meta_tags

  body
    = render 'shareds/top_menu'
    .section-alert
      = devise_error_messages!
    = flash_messages
    section.grey
      .container
        .col-md-4.col-md-offset-4.form-devise
          = yield
    = render 'shareds/footer'
  = javascript_include_tag 'application'
