doctype html
html
  head
    = render 'shareds/setting'
    = stylesheet_link_tag 'application'
    = csrf_meta_tags

  body
    = render 'shareds/top_menu'
    = flash_messages
    = render 'userpage/shareds/header'
    section.grey.section-user
      .container
        .row
          .col-md-12.breadcrumb
            = render_breadcrumbs
          .col-md-3
            = render 'userpage/shareds/sidebar'
          .col-md-9
            = yield
    = render 'shareds/footer'
  = javascript_include_tag 'application'
