= select_tag "#{params[:node]}[address_attributes][province]", options_for_select(@provinces), {prompt: 'Choice Province', class: 'form-control provinces_select_shipment', 'data-node' => "#{params[:node]}", required: true} 
