- @user = current_user
section.wallpaper
  .container
    row
      .col-md-8.col-xs-12
        .col-xs-2.avatar-author
          = image_tag @user.try(:profile).try(:avatar).url(:medium)
        .col-xs-10
          h3.brand-shop
            = @user.try(:profile).try(:full_name)
          - if @user.address.present?
            .p
              | Address: <a href="#">#{@user.address.place_info}</a>
.section-menu-user
  .container
    ul
      li = link_to 'Beranda', userpage_dashboard_path, class: "#{active_sidebar_active?(:home, :dashboard)}" 
      li = link_to 'Wishlists', userpage_favorites_path, class: "#{active_sidebar_active?(:favorites, :all)}" 
      li = link_to 'My Orders', userpage_orders_path, class: "#{active_sidebar_active?(:orders, :all)}" 
      li = link_to 'Messages', userpage_inquiries_path, class: "#{active_sidebar_active?(:inquiries, :all)}" 
      li = link_to 'Settings', user_edit_url(current_user.type, current_user), class: "#{active_sidebar_active?(:members, :edit)}" 