- @user = current_user    
.sidebar-show
  .row
    .col-md-12
      h3.title
        | Profile Info
      div
        = link_to "<i class='fa fa-home'></i> #{@user.the_name?}".html_safe, userpage_dashboard_path
      div
        | <small>Since #{@user.created_at.strftime("%B, %d, %Y") if @user.created_at.present?} </small>
      .break
      hr
    .col-md-12
      h5 Contact Us
      .small
        ul class="properties"
          - if @user.contact.phone.present?
            li
              | Phone: <a href="#">#{@user.contact.phone}</a>
          - if @user.contact.handphone.present?
            li
              | Handphone: <a href="#">#{@user.contact.handphone}</a>
          - if @user.contact.pin.present?
            li
              | PIN: <a href="#" class="uppercase">#{@user.contact.pin}</a>
          - if @user.contact.facebook.present?
            li
              | <a href="#{@user.contact.facebook}">Our Facebook</a>
          - if @user.contact.twitter.present?
            li
              | <a href="#{@user.contact.twitter}">Our Twitter</a>
          - if @user.contact.website.present?
            li
              | Website: <a href="#{@user.contact.website}">#{@user.contact.website}</a>
          - if @user.email.present?
            li
              | Email: <a href="mailto:#{@user.email}">#{@user.email}</a>
    